.panel-heading {
    padding: 5px 15px;
}

.panel-footer {
	padding: 1px 15px;
	color: #A0A0A0;
}

.profile-img {
	width: 96px;
	height: 96px;
	margin: 0 auto 10px;
	display: block;
}

.fullwidth_button{
  width:100%;
  margin-top: 5px;
}

.p2{
  padding-left:15px;
  padding-right:15px;
}
