<link rel="import" href="/bower_components/polymer/polymer-element.html">
<link rel="import" href="/bower_components/iron-icons/iron-icons.html">
<link rel="import" href="/bower_components/paper-button/paper-button.html">
<link rel="import" href="/elements/sapo-list-items.html">

<dom-module id="sapo-associate-item-criterio-legal">

  <template>

    <style>
      :host {
        display: flex;
        flex-direction: column;
        width: 100%;
      }

      .blue {
        background: #337ab7;
      }

      .gray {
        background: #616161;
      }

      div {
        padding-top: 50px;
      }

      paper-button {
        color: white;
      }

      paper-button[disabled] {
        background: #eaeaea;
        color: #a8a8a8;
      }
    </style>

    <iron-ajax id="getAjax" url="http://N350i-22878:8080/criterioslegais/item/not/[[itemId]]" last-response="{{data}}"></iron-ajax>
    <iron-ajax id="postjax"
      url="http://n350i-22878:8080/itenscriterioslegais/"
      method="POST"
      content-type="application/json"
      handle-as="json"
      body="[[_computeAjaxBody(selected)]]"
      on-response="_postResponse">
    </iron-ajax>

    <sapo-list-items data="[[_computeData(data)]]" selected-values="{{selected}}" undeletable uneditable multi></sapo-list-items>

    <div>
      <paper-button disabled="[[saveDisabled]]" class="blue" on-click="_submitClicked" raised><iron-icon icon="save"></iron-icon>Salvar</paper-button>
      <paper-button class="gray" on-click="_clearClicked" raised><iron-icon icon="rounded-corner"></iron-icon>Limpar</paper-button>
    </div>

  </template>

  <script>
    class sapoAssociateItemCriterioLegal extends Polymer.Element {

      static get is() { return 'sapo-associate-item-criterio-legal'; }

      static get properties() {
        return {
          itemId: Number,

          data: Array,
          selected: Array,

          saveDisabled: {
            type: Boolean,
            computed: '_isSaveDisabled(selected)'
          }
        }
      }


      //
      //OBSERVERS & COMPUTEDS

      _isSaveDisabled(selected) {
        return this.selected.length < 1;
      }

      _computeData(data) {
        return data.map(item => {
          return {
            id: item.id,
            text: item.norma.nome + " - " + item.descricao
          }
        });
      }

      _computeAjaxBody(selected) {
        return selected.map(criterioLegalId => {
          return {item_id: this.itemId, criterio_legal_id: criterioLegalId};
        });
      }


      //
      //EVENTS

      _submitClicked() {
        this.$.postjax.generateRequest();
      }

      _clearClicked() {
        this._clear();
      }

      _postResponse(e) {
        this.dispatchEvent(new CustomEvent('save', {detail: e.detail.response}));
      }


      //
      //UTILS

      _clear() {
        this.set('selected', []);
      }


      //
      //PUBLIC

      start() {
        this.$.getAjax.generateRequest();
      }

      close() {
        this._clear();
      }

    }

    window.customElements.define(sapoAssociateItemCriterioLegal.is, sapoAssociateItemCriterioLegal);
  </script>
</dom-module>
