<!doctype html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <title>SAPO</title>
    <script src="/js/jquery.js"></script>
    <script src="/js/angular.js"></script>
    <script src="/app.js" type="text/javascript"></script>
    <script src="/maincontroller.js" type="text/javascript"></script>
    <script src="/js/scripts.js" type="text/javascript"></script>
    <link href="/css/todo.css" rel="stylesheet" type="text/css">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <script src="/treecontroll/angular-tree-control.js"></script>
    <link href="/treecontroll/tree-control.css" rel="stylesheet" type="text/css">
    <link href="/treecontroll/tree-control-attribute.css" rel="stylesheet" type="text/css">

    <link href="/images/favicon.ico" rel="icon">

    <!-- Polymer dependencies -->

    <!-- Load webcomponents-loader.js to check and load any polyfills your browser needs -->
    <script src="/bower_components/webcomponentsjs/webcomponents-loader.js"></script>

    <link href="/bower_components/neon-animation/web-animations.html" rel="import">
    <link href="/bower_components/blockingElements/blocking-elements.html" rel="import">

    <!-- Load your application shell -->
    <link href="/views/sapo-app.html" rel="import">

  </head>

  <body data-ng-app="MyTutorialApp" style="min-height:100vh" >
    <div data-ng-controller="Hello" id="app-body" ng-switch="logado" style="min-height:100vh" >

          <!-- LOGIN -->
          <div class="container" style="margin-top:40px" ng-switch-when="0">
          		<div class="row">
          			<div class="col-sm-6 col-md-4 col-md-offset-4">
          				<div class="panel panel-default">
          					<div class="panel-heading">
          						<strong>S.A.P.O</strong>
          					</div>
          					<div class="panel-body">
          						<form role="form" action="">
          							<fieldset>
          								<div class="row">
          									<div class="center-block">
          										<img class="profile-img"
          											src="/img/sapo.png" alt="">
          									</div>
          								</div>
          								<div class="row">
          									<div class="col-sm-12 col-md-10  col-md-offset-1 ">
          										<div class="form-group">
          											<div class="input-group">
          												<span class="input-group-addon">
          													<i class="glyphicon glyphicon-user"></i>
          												</span>
          												<input class="form-control" id="username" placeholder="Usuario" name="username" type="text" autofocus>
          											</div>
          										</div>
          										<div class="form-group">
          											<div class="input-group">
          												<span class="input-group-addon">
          													<i class="glyphicon glyphicon-lock"></i>
          												</span>
          												<input class="form-control" id="password" placeholder="Senha" name="password" type="password" value="">
          											</div>
          										</div>
                              <div id="status"></div>
          										<div class="form-group">
                                <button id="entrar-btn" class="btn btn-lg btn-primary btn-block" ng-click="logar()">Entrar</button>
          										</div>
          									</div>
          								</div>
          							</fieldset>
          						</form>
          					</div>
                  </div>
          			</div>
          		</div>
          	</div>

    <!-- SISTEMA -->
        <!-- MENU -->
          <div  ng-switch-when="1" style="display:flex;flex-direction:column;min-height:100vh" >
            <nav class="navbar navbar-default">
              <div class="container-fluid">
                <div class="navbar-header">
                  <a class="navbar-brand" href="#">S.A.P.O</a>
                </div>
                <div>
                  <ul class="nav navbar-nav" id="menu_topo">
                    <li id="inicio"><a href="./inicio" ng-click="setConteudo('inicio')">Inicio</a></li>
                    <li id="avaliacoes"><a href="./avaliacoes" ng-click="setConteudo('avaliacoes')">Avaliações</a></li>
                    <li id="nova_avaliacao"><a href="./nova_avaliacao" ng-click="setConteudo('nova_avaliacao')">Nova Avaliação</a></li>
                    <li id="indicadores"><a href="./indicadores" ng-click="setConteudo('indicadores')">Indicadores</a></li>
                    <li id="criterio-legal"><a href="./criterio-legal" ng-click="setConteudo('criterio-legal')">Critério Legal</a></li>
                    <li id="relatorios"><a href="./relatorios" ng-click="setConteudo('relatorios')">Relatórios</a></li>
                    <!-- <li id="deslogar"><a href="./" ng-click="deslogar()">Deslogar</a></li> -->
                  </ul>
                </div>
              </div>
            </nav>
          <!-- CONTEUDO -->
          <div id="conteudo-geral" ng-switch="conteudo" style="flex:1" >

            <sapo-app></sapo-app>

            <!-- INICIO -->
            <div class="container" ng-switch-when="inicio">
              <div class="jumbotron">
                  <h1>S.A.P.O</h1>
                  <p>Sistema de avaliações de portais de transparência</p>
                <br/>
                  <p>Conteúdo descritivo</p>
                <br/>
                <div class="row" align="center">
                  <div class="col-md-4">
                    <a href="#" type="button" class="btn btn-primary btn-lg" ng-click="setConteudo('avaliacoes')" data-loading-text="Loading ...">Avaliações</a>
                  </div>
                  <div class="col-md-4">
                    <a href="#" class="btn btn-primary btn-lg" ng-click="setConteudo('nova_avaliacao')">Nova Avaliação</a>
                  </div>
                  <div class="col-md-4">
                    <a href="#" class="btn btn-primary btn-lg" ng-click="setConteudo('indicadores')">Indicadores</a>
                  </div>
              </div>
            </div>
          </div>


          <!-- AVALIACOES -->


          <div class="container" ng-switch-when="avaliacoes">
            <h2>Avaliações:</h2>
            <p>Segue abaixo a lista de avaliações ativas:</p>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Indicador</th>
                  <th style="width:50%">Nome</th>
                  <th>Data Início</th>
                  <th>Ações</th>
                </tr>
              </thead>
              <tbody>
                <tr data-ng-repeat="avaliacao in avaliacoes">
                  <td>{{avaliacao.indicador_nome}}</td>
                  <td>{{avaliacao.nome}}</td>
                  <td>{{avaliacao.dt_Inicio}}</td>
                  <td>
                    <!-- Avaliar -->
                    <a class="btn btn-default btn-sm" ng-click="avaliar(avaliacao.id)">
                      <span class="glyphicon glyphicon-pencil"></span> Avaliar
                    </a>
                    <!-- Editar -->
                    <button type="button" class="btn btn-warning btn-sm disabled">
                      <span class="glyphicon glyphicon-edit"></span> Editar
                    </button>
                    <!-- Deletar -->
                    <button type="button" class="btn btn-danger btn-sm" ng-click="deletar_avaliacao(avaliacao.id)">
                      <span class="glyphicon glyphicon-remove"></span> Remover
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>




          <!-- AVALIAR AVALIACAO -->


          <div class="container" ng-switch-when="avaliando">
            <h2>Avaliação{{nomeAvaliacao}}</h2>
            <p>Segue abaixo a lista de objetos de avaliação ativos</p>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th style="width:20%">Entidade</th>
                  <th style="width:10%">Concluído</th>
                  <th style="width:45%">Observações</th>
                  <th>Ações</th>
                </tr>
              </thead>
              <tbody>
                <tr data-ng-repeat="objeto in objetosdeavaliacao">
                  <td>{{objeto.entidade_nome}}</td>
                  <td>{{objeto.concluido}}</td>
                  <td>{{objeto.observacoes}}</td>
                  <td>
                    <!-- Avaliar -->
                    <a class="btn btn-default btn-sm" ng-click="avaliar_nota2(objeto.id)">
                      <span class="glyphicon glyphicon-pencil"></span> Avaliar
                    </a>
                    <!-- Editar -->
                    <button type="button" class="btn btn-warning btn-sm disabled" ng-click="avaliar_nota2(objeto.id)">
                      <span class="glyphicon glyphicon-edit"></span> Editar
                    </button>
                    <!-- Deletar -->
                    <button type="button" class="btn btn-danger btn-sm" ng-click="deletar_objeto(objeto.id)">
                      <span class="glyphicon glyphicon-remove"></span> Remover
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>



          <!-- AVALIANDO OBJETO_AVALIACAO  -->

          <div class="container" ng-switch-when="avaliando_nota" >
            <form class="form-horizontal">
              <fieldset>
              <!-- Form Name -->
              <legend>Avaliando Entidade</legend>

              <div class="progress">
                <div class="progress-bar progress-bar-striped active" role="progressbar"
                aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">
                  40%
                </div>
              </div>

              <!-- Select Basic -->
              <div>
                  <ul class="list-unstyled">
                    <form role="form">
                      <li class="nomes" data-ng-repeat="pilar in pilares">
                        <button type="button" class="btn btn-primary fullwidth_button" data-toggle="collapse" data-target="#pilar-{{pilar.pilar}}">{{pilar.pilar}}</button>
                        <div id="pilar-{{pilar.pilar}}" class="collapse p2">

                          <ul class="list-unstyled" data-ng-repeat="nivel in pilar.niveis">
                            <form role="form">
                              <li class="nomes">
                                <button type="button" class="btn btn-primary fullwidth_button" data-toggle="collapse" data-target="#nivel-{{nivel.nivel}}"> {{nivel.nivel}}</button>
                                <div id="nivel-{{nivel.nivel}}" class="collapse p2">

                                  <ul class="list-unstyled" data-ng-repeat="subnivel in nivel.subniveis">
                                    <form role="form">
                                      <li class="nomes">
                                        <button type="button" class="btn btn-primary fullwidth_button" data-toggle="collapse" data-target="#subnivel-{{subnivel.subnivel}}">
{{subnivel.subnivel}}</button>
                                        <div id="subnivel-{{subnivel.subnivel}}" class="collapse p2">
                                          <ul class="list-unstyled">
                                            <form role="form">

                                              <li class="nomes" data-ng-repeat="item in subnivel.itens">
                                                  <button type="button" class="btn btn-default fullwidth_button botao_item" data-toggle="collapse" data-target="#item-{{item.id}}">
{{item.nome}}</button>
                                                  <div id="item-{{item.id}}" class="collapse p2" name="{{item.nota_id}}">
                                                    <h5>{{item.exigencia}}</h5>
                                                    <br/>
                                                    <div class="form-group">
                                                      <div class="col-md-12">
                                                      <table class="table table-striped">
                                                        <thead>
                                                          <tr>
                                                            <th style="width:10%">Selecionado</th>
                                                            <th style="width:10%">Nota</th>
                                                            <th style="width:80%">Descricao</th>
                                                          </tr>
                                                        </thead>
                                                        <tbody id="select_itens" >
                                                          <tr>
                                                            <td class="pontuacoes">
                                                              <input type="radio" class="checkbox_tabela" name="{{item.nota_id}}" value="0">
                                                            </td>
                                                            <td></td>
                                                            <td>Nao avaliado</td>
                                                          </tr>
                                                          <tr data-ng-repeat="pontuacao in item.pontuacoes | orderBy:'nota'">
                                                            <td class="pontuacoes">
                                                              <input type="radio" class="checkbox_tabela" name="{{item.nota_id}}" value="{{pontuacao.id}}">
                                                            </td>
                                                            <td>{{pontuacao.nota}}</td>
                                                            <td>{{pontuacao.descricao}}</td>
                                                          </tr>
                                                        </tbody>
                                                      </table>
                                                      </div>
                                                    </div>

                                                </div>
                                              </li>
                                            </form>
                                          </ul>

                                        </div>
                                      </li>
                                    </form>
                                  </ul>
                                </div>
                              </li>
                            </form>
                          </ul>
                        </div>
                      </li>
                    </form>
                  </ul>
              </div>
              </fieldset>
            </form>
          </div>


          <!-- AVALIANDO NOTA COM TREE-VIEW -->



          <div ng-switch-when="avaliando_nota2" style="padding-left:20px;padding-right:20px">
            <h3>Avaliando {{entidade_avaliada}}</h3>
              <div class="row">
                <div class="col-md-2">
                  <button type="button" class="btn btn-default btn-xs btn-block" ng-click="expandAll()">
                    Expandir tudo
                  </button><br/>
                  <treecontrol
                     class="tree-classic"
                     tree-model="dataForTheTree"
                     expanded-nodes="expandedNodes"
                     options="treeOptions"
                     on-selection="showSelected(node)">
                     <span style="color: {{getColor(node)}}">{{node.name}}</span>

                  </treecontrol>
                </div>
                <div class="col-md-10 form-group">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th class="col-md-2">Item</th>
                        <th class="col-md-6">Exigência</th>
                        <th class="col-md-4">Nota</th>
                      </tr>
                    </thead>
                    <tbody id="select_itens">
                      <tr data-ng-repeat="item in selectedNode.itens">
                        <td>{{item.nome}}</td>
                        <td>{{item.exigencia}}</td>
                        <td>
                          <select name="{{item.nota_id}}" item-id="{{item.id}}" class="form-control">
                            <option ng-selected="{{pontuacao.id == item.pontuacao_id}}" value="0">
                              Não avaliado
                            </option>
                            <option ng-selected="{{pontuacao.id == item.pontuacao_id}}"
                                    ng-repeat="pontuacao in item.pontuacoes | orderBy:'nota'"
                                    value="{{pontuacao.id}}">
                                {{pontuacao.nota}} - {{pontuacao.descricao}}
                            </option>
                          </select>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
          </div>


			<!-- NOVA AVALIACAO -->
			<div class="container" ng-switch-when="nova_avaliacao">
				<form class="form-horizontal">
					<fieldset>

					<!-- Form Name -->
					<legend>Nova Avaliação</legend>
					<!-- Select Basic -->
					<div class="form-group">
						<label class="col-md-1 control-label" for="indicador">Indicador: </label>
						<div class="col-md-11">
							<select id="indicador" name="indicador" class="form-control"></select>
						</div>
					</div>

					<!-- Text input-->
					<div class="form-group">
						<label class="col-md-1 control-label" for="nome">Nome:</label>
						<div class="col-md-11">
							<input id="nome" name="nome" class="form-control input-md" type="text" ng-model="nova_avaliacao_nome">
						</div>
					</div>

					<!-- Text input-->
					<div class="form-group">
						<label class="col-md-1 control-label" for="objetivos">Objetivos: </label>
						<div class="col-md-11">
							<input id="objetivos" name="objetivos" placeholder="" class="form-control input-md" type="text">
						</div>
					</div>

					<!-- Text input-->
					<div class="form-group">
						<label class="col-md-1 control-label" for="observacoes">Observações: </label>
						<div class="col-md-11">
							<input id="observacoes" name="observacoes" placeholder="" class="form-control input-md" type="text">
						</div>
					</div>

					<!-- Multiple Checkboxes -->
					<div class="form-group" id="select_entidades">
					<label class="col-md-1 control-label" for="entidades">Entidades: </label>
					<div class="col-md-11">

					<div class="btn-group" data-toggle="buttons">
					<label class="btn btn-primary" onclick="seleciona_entidades(0)">
					<input type="checkbox" autocomplete="off" checked>Selecionar Todos Legislativos
					</label>
					<label class="btn btn-primary" onclick="seleciona_entidades(1)">
					<input type="checkbox" autocomplete="off">Selecionar Todos Executivos
					</label>
					</div>
					</div>
					</div>

					<!-- Multiple Checkboxes -->
					<div class="form-group">
					<label for="itens" class="col-md-1 control-label">Itens: </label>
					<div class="col-md-11">
					<button class="btn btn-primary" onclick="seleciona_itens()">Selecionar Todos</button>
					<table class="table table-striped">
					  <thead>
						<tr>
						  <th>Selecionar</th>
						  <th>Nome</th>
						  <th>Exigência</th>
						  <th>Nota Máxima</th>
						</tr>
					  </thead>
					  <tbody id="select_itens">
					  </tbody>
					</table>
					</div>
					</div>


					<!-- Button (Double) -->
					<div class="form-group">
					<label class="col-md-1 control-label" for="confirmar"></label>
					<div class="col-md-11">
					  <script>
						$(".btn").click(function(){
								$(this).button('loading').delay(3000).queue(function() {
									$(this).button('reset');
									$(this).dequeue();
								});
							});
					  </script>
					  <button id="confirmar" name="confirmar" class="btn btn-success" ng-click="nova_avaliacao_confirma()">Confirmar</button>
					  <button id="cancelar" name="cancelar" class="btn btn-danger" data-loading-text="Carregando ...">Cancelar</button>
					</div>
					</div>

					</fieldset>
				</form>
			</div>

			<div class="container" ng-switch-when="indicadores">



        <!--
				<form class="form-horizontal">
					<fieldset class="col-md-6">
						<legend>Indicadores<i style="visibility:hidden">a</i></legend>

              <div class="form-group">
              	<label class="col-md-2 control-label">Indicador: </label>
              	<div class="col-md-10">
              		<select class="form-control"
                    ng-model="model.indicador"
                    ng-options="option.nome for option in options.indicadores | orderBy:'id' track by option.id"
                    ng-change="actions.updateIndicador(model.indicador.id)"></select>
              	</div>
              </div>

              <div class="form-group">
              	<label class="col-md-2 control-label">Pilar: </label>
              	<div class="col-md-10">
              		<select class="form-control"
                    ng-disabled="model.indicador.id == 0 || options.pilares.length == 0"
                    ng-model="model.pilar"
                    ng-options="option.nome for option in options.pilares | orderBy:'id' track by option.id"
                    ng-change="actions.updatePilar(model.pilar.id)"></select>
              	</div>
              </div>

              <div class="form-group">
              	<label class="col-md-2 control-label">Tipo: </label>
              	<div class="col-md-10">
              		<select class="form-control"
                    ng-disabled="model.pilar.id == 0 || options.tipos.length == 0"
                    ng-model="model.tipo"
                    ng-options="option.nome for option in options.tipos | orderBy:'id' track by option.id"
                    ng-change="actions.updateTipo(model.tipo.id)"></select>
              	</div>
              </div>

              <div class="form-group">
              	<label class="col-md-2 control-label">Nível: </label>
              	<div class="col-md-10">
              		<select class="form-control"
                    ng-disabled="model.tipo.id == 0 || options.niveis.length == 0"
                    ng-model="model.nivel"
                    ng-options="option.nome for option in options.niveis | orderBy:'id' track by option.id"
                    ng-change="actions.updateNivel(model.nivel.id)"></select>
              	</div>
              </div>

              <div class="form-group">
              	<label class="col-md-2 control-label">Subnível: </label>
              	<div class="col-md-10">
              		<select class="form-control"
                    ng-disabled="model.nivel.id == 0 || options.subniveis.length == 0"
                    ng-model="model.subnivel"
                    ng-options="option.nome for option in options.subniveis | orderBy:'id' track by option.id"
                    ng-change="actions.updateSubnivel(model.subnivel.id)"></select>
              	</div>
              </div>
            </fieldset>

            <fieldset class="col-md-6"
              ng-disabled="model.subnivel.id == 0 || options.subniveis.length == 0">
              <legend>Item</legend>

              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <button class="btn btn-primary" ng-click="actions.saveItem()">Salvar</button>
                  <button class="btn btn-success" ng-click="actions.newItem()">Novo</button>
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <div id="msg-sucesso" style="display:none" class="alert alert-success alert-dismissable">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>Success!</strong> Item salvo com sucesso no sistema.
                  </div>
                </div>
              </div>

              <div class="form-group">
              	<label class="col-md-2 text-left control-label">Nome: </label>
              	<div class="col-md-10">
              		<input class="form-control input-md" type="text"
                    ng-model="model.item.nome">
              	</div>
              </div>

              <div class="form-group">
              	<label class="col-md-2 control-label">Exigência: </label>
              	<div class="col-md-10">
              		<input name="exigencia" class="form-control input-md" type="text"
                    ng-model="model.item.exigencia">
              	</div>
              </div>

              <div class="form-group">
              	<label class="col-md-2 control-label">Nota Máxima: </label>
              	<div class="col-md-2">
              		<input name="notaMaxima" class="form-control input-md" type="number"
                    ng-model="model.item.notaMaxima">
              	</div>
              </div>

              <legend>Pontuação <button class="btn btn-success" ng-click="actions.addPontuacao()">+</button></legend>

              <div class="form-horizontal">
                <div class="form-group" ng-repeat="pontuacao in model.pontuacoes">
                  <div class="col-sm-2">
                    <input class="form-control input-md" type="text" placeholder="nota" ng-model="pontuacao.nota">
                  </div>
                  <div class="col-sm-9">
                    <input class="form-control input-md" type="text" placeholder="descrição" ng-model="pontuacao.descricao">
                  </div>
                  <div class="col-sm-1">
                    <button class="btn btn-danger" ng-click="actions.removePontuacao(pontuacao.index)" tabIndex="-1">-</button>
                  </div>
                </div>
              </div>

            </fieldset>


				</form>
        -->
			</div>

        </div>
    </div>


    <!-- POST INSERTS -->
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
