<link rel="import" href="/bower_components/polymer/polymer-element.html">
<link rel="import" href="/bower_components/app-route/app-route.html">
<link rel="import" href="/bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="/bower_components/paper-button/paper-button.html">
<link rel="import" href="/elements/sapo-styles.html">
<link rel="import" href="./sapo-objeto-avaliacao-information-bar.html">
<link rel="import" href="./sapo-objeto-avaliacao-report-body.html">
<link rel="import" href="./sapo-objeto-avaliacao-report-download.html">

<dom-module id="sapo-relatorio-objeto-avaliacao">

  <template>

  <style include="sapo-styles">

    :host {
      display: flex;
      flex-wrap: wrap;
    }

    paper-button {
      position: absolute;
      margin-top: 95px;
    }

    sapo-objeto-avaliacao-report-body {
      width: 100%;
      margin: 5px 100px;
    }

    sapo-objeto-avaliacao-information-bar {
      width: 100%;
      margin: 5px 100px;
    }

  </style>

  <app-route route="{{route}}" pattern="/:id" data="{{routeData}}"></app-route>
  
  <iron-ajax auto="[[ready]]" url="[[appconfig.url.api]]/notas/objetoavaliacao/[[id]]/full" last-response="{{notas}}"></iron-ajax>

  <sapo-objeto-avaliacao-report-download id="relatorioDownloader" notas="[[notas]]" ready="{{downloadReady}}"></sapo-objeto-avaliacao-report-download>

  <sapo-objeto-avaliacao-information-bar appconfig="[[appconfig]]" objeto-avaliacao-id="[[id]]"></sapo-objeto-avaliacao-information-bar>
  <sapo-objeto-avaliacao-report-body notas="[[notas]]"></sapo-objeto-avaliacao-report-body>

  <paper-button raised class$="[[_computeDownloadButtonCss(downloadReady)]] blue" on-click="_downloadCsv" >CSV</paper-button>

  </template>

  <script>
    class SapoRelatorioObjetoAvaliacao extends Polymer.Element {

      static get is() { return 'sapo-relatorio-objeto-avaliacao'; }

      static get properties() {
        return {
          id: {
            type: Number,
            computed: '_computeId(routeData)'
          },
          pilares: Array,

          notas: Array,

          ready: {
            type: Boolean,
            computed: '_isReady(route, appconfig)'
          },
          downloadReady: {
            type: Boolean,
            value: () => { return false; }
          }
        }
      }


      //
      //COMPUTEDS

      _isReady(route, appconfig) {
        return route != null && route.prefix === "/relatorios/objeto" && appconfig != null;
      }

      _computeId(routeData) {
        return parseInt(routeData.id);
      }

      _computeDownloadButtonCss(isReady) {
        return (isReady) ? '' : 'hidden';
      }


      //
      //EVENTS

      _downloadCsv() {
        this.$.relatorioDownloader.downloadCsv();
      }

    }

    window.customElements.define(SapoRelatorioObjetoAvaliacao.is, SapoRelatorioObjetoAvaliacao);
  </script>
</dom-module>
