<link rel="import" href="/bower_components/polymer/polymer-element.html">
<link rel="import" href="/bower_components/paper-card/paper-card.html">
<link rel="import" href="/elements/sapo-styles.html">
<link rel="import" href="./sapo-indicadores-pontuacoes-report.html">

<dom-module id="sapo-relatorio-indicadores-pesos">

  <template>

    <style include="sapo-styles">

      :host {
        display: flex;
        justify-content: center;
      }

      paper-card {
        display: flex;
        align-items: center;
        flex-direction: column;

        padding: 40px;
        margin: 0px;
      }

    </style>

    <iron-ajax auto loading="{{loading}}" url="[[appconfig.url.api]]/indicadores/full" last-response="{{indicadores}}"></iron-ajax>

    <paper-card>
      <paper-spinner active class$="[[_computeSpinnerCss(loading)]]"></paper-spinner>
      <sapo-indicadores-pontuacoes-report appconfig="[[appconfig]]" indicadores="[[_computeIndicador(indicadores)]]" ></sapo-indicadores-pontuacoes-report>
    </paper-card>

  </template>

  <script>
    class SapoRelatorioIndicadoresPesos extends Polymer.Element {

      static get is() { return 'sapo-relatorio-indicadores-pesos'; }

      static get properties() {
        return {
          loading: Boolean,
          indicadores: Array
        }
      }

      _computeSpinnerCss(loading) {
        return (loading) ? '' : 'hidden';
      }

      _computeIndicador(indicadores) {

        var compIndicadores = JSON.parse(JSON.stringify(indicadores));

        compIndicadores.forEach(indicador => {
          indicador.notaMaxima = 0;
          indicador.pilares.forEach(pilar => {
            pilar.notaMaxima = 0;
            pilar.tipos.forEach(tipo => {
              tipo.notaMaxima = 0;
              tipo.niveis.forEach(nivel => {
                nivel.notaMaxima = 0;
                nivel.subniveis.forEach(subnivel => {
                  subnivel.notaMaxima = 0;
                  subnivel.itens.forEach(item => {
                    subnivel.notaMaxima += item.notaMaxima;
                    nivel.notaMaxima += item.notaMaxima;
                    tipo.notaMaxima += item.notaMaxima;
                    pilar.notaMaxima += item.notaMaxima;
                    indicador.notaMaxima += item.notaMaxima;
                  });
                });
              });
            });
          });
        });

        return compIndicadores;
      }

    }

    window.customElements.define(SapoRelatorioIndicadoresPesos.is, SapoRelatorioIndicadoresPesos);
  </script>
</dom-module>
