<link rel="import" href="/bower_components/polymer/polymer-element.html">
<link rel="import" href="/bower_components/paper-card/paper-card.html">
<link rel="import" href="/bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="/views/avaliacoes/sapo-avaliacoes-math.html">
<link rel="import" href="/elements/sapo-styles.html">

<dom-module id="sapo-avaliacao-information-bar">

  <template>

    <style include="sapo-styles">

      paper-card {
        width: 100% !important;
        margin: 0px !important;
      }

      paper-card.spinner-block {
        justify-content: center;
      }

      paper-card.card-block {
        flex-direction: row;
      }

      paper-spinner {
        margin: 6px 0px;
      }

      div {
        margin: 10px 40px 10px 10px;
      }

      b {
        white-space: pre;
      }

    </style>

    <sapo-avaliacoes-math id="avaliacaoMath"></sapo-avaliacoes-math>

    <paper-card class$="[[_computeSpinnerBarCss(ready)]]">
      <paper-spinner active="[[!ready]]" ></paper-spinner>
    </paper-card>

    <paper-card class$="[[_computeInformationBarCss(ready)]]">
      <div><b>ENTIDADE:</b> [[entidade]] <b>   AVALIAÇÃO:</b> [[avaliacao]]</div>
      <div><b>Nota:</b> [[evaluationAbsoluteScore]] <b>   Pontuação Parcial:</b> [[evaluationRelativeScore]]</div>
      <div><b>Concluído:</b> [[evaluationConclusionPercentage]]</div>
    </paper-card>

  </template>

  <script>
    class SapoAvaliacaoInformationBar extends Polymer.Element {

      static get is() { return 'sapo-avaliacao-information-bar'; }

      static get properties() {
        return {
          objetoAvaliacao: {
            type: Object,
            observer: 'updateObjetoAvaliacaoData'
          },
          notas: {
            type: Array,
            observer: 'updateNotas'
          },

          ready: {
            type: Boolean,
            computed: '_isReady(entidade, avaliacao, evaluationConclusionPercentage, evaluationAbsoluteScore, evaluationRelativeScore)'
          },

          entidade: String,
          avaliacao: String,

          evaluationConclusionPercentage: String,
          evaluationAbsoluteScore: String,
          evaluationRelativeScore: String
        }
      }

      _isReady() {
        var args = Array.prototype.slice.call(arguments);
        return !args.some(arg => arg == null);
      }

      _computeInformationBarCss(isReady) {
        return (typeof isReady == 'boolean' && isReady) ? 'card-block' : 'hidden';
      }

      _computeSpinnerBarCss(isReady) {
        return (typeof isReady != 'boolean' || !isReady) ? 'card-block spinner-block' : 'hidden';
      }


      //
      //UTILS

      updateObjetoAvaliacaoData(objetoAvaliacao) {
        this.objetoAvaliacao = objetoAvaliacao;

        if (this.objetoAvaliacao) {
          this.entidade = this.objetoAvaliacao.entidade.nome;
          this.avaliacao = this.objetoAvaliacao.avaliacao.nome;
        } else {
          this.entidade = null;
          this.avaliacao = null;
        }
      }

      updateNotas(notas) {
        this.notas = notas;

        //update avaliacao statistics
        if (this.notas.length > 0) {
          var conclusionPercentage = this.$.avaliacaoMath.calcPercentageOfConclusion(this.notas);
          this.evaluationConclusionPercentage = conclusionPercentage + '%';

          var absoluteScore = this.$.avaliacaoMath.calcAbsoluteScore(this.notas);
          this.evaluationAbsoluteScore = absoluteScore.absoluteScore + ' de ' + absoluteScore.maxScore + '(' + absoluteScore.percentage + '%)';

          var relativeScore = this.$.avaliacaoMath.calcRelativeScore(this.notas);
          this.evaluationRelativeScore = relativeScore.relativeScore + ' de ' + relativeScore.maxScore + '(' + relativeScore.percentage + '%)';
        } else {
          this.evaluationConclusionPercentage = null;
          this.evaluationAbsoluteScore = null;
          this.evaluationRelativeScore = null;
        }
      }

    }

    window.customElements.define(SapoAvaliacaoInformationBar.is, SapoAvaliacaoInformationBar);
  </script>
</dom-module>
