<link rel="import" href="/bower_components/polymer/polymer-element.html">
<link rel="import" href="/bower_components/app-route/app-route.html">
<link rel="import" href="./avaliacoes/sapo-list-avaliacoes.html">

<dom-module id="sapo-avaliacoes">

  <template>

    <style>
    </style>

    <app-route route="{{route}}" tail="{{subroute}}"></app-route>

    <sapo-list-avaliacoes></sapo-list-avaliacoes>

    <!--
    <button on-click="teste" >AVALIACAO</button>
    <button on-click="teste2" >ENTIDADE</button>
    <p>avaliacao: [[pathData.avaliacao]]</p>
    <p>entidade: [[pathData.entidade]]</p>
    -->

  </template>

  <script>
    class SapoAvaliacoes extends Polymer.Element {

      static get is() { return 'sapo-avaliacoes'; }

      static get properties() {
        return {
          route: {
            type: String,
            observer: '_routeObserver'
          },
          pathData: {
            type: Object,
            value: () => { return {avaliacao: NaN, entidade: NaN}; },
            observer: '_pathDataObserver'
          }
        }
      }

      _routeObserver(newRoute) {
        if (!newRoute || !newRoute.path) return;

        var pathDataArray = newRoute.path.split('/')
                              .map(item => {
                                return parseInt(item);
                              }).filter(item => {
                                return !isNaN(item);
                              });

        var avaliacao = (pathDataArray.length > 0) ? pathDataArray[0] : NaN;
        var entidade = (pathDataArray.length > 1) ? pathDataArray[1] : NaN;

        if (this.pathData.avaliacao != avaliacao || this.pathData.entidade != entidade)
          this.pathData = {avaliacao: avaliacao, entidade: entidade};
      }

      _pathDataObserver(newPathData) {
        console.log('pathData', newPathData);
      }


      //
      //EVENTS

      _avaliacaoChanged(e) {
        console.log('avaliacao', e.detail.avaliacao);
        //this.updatePath();
      }

      _entidadeChanged(e) {
        console.log('entidade', e.detail.entidade);
        //this.updatePath();
      }


      //
      //UTILS

      updatePath() {
        if (!isNaN(this.pathData.avaliacao)) {
          let url = "/" + this.pathData.avaliacao;
          if (!isNaN(this.pathData.entidade))
            url += "/" + this.pathData.entidade;

          window.history.pushState({}, null, this.route.prefix + url);
          window.dispatchEvent(new CustomEvent('location-changed'));
        }
      }


      //
      //EXTRAS

      teste() {
        var avaliacao = (isNaN(this.pathData.avaliacao)) ? 0 : this.pathData.avaliacao + 1;
        var entidade = this.pathData.entidade;

        this.pathData = {
          avaliacao: avaliacao,
          entidade: entidade
        };
        this.updatePath();
      }

      teste2() {
        if (isNaN(this.pathData.avaliacao)) return;
        var entidade = (isNaN(this.pathData.entidade)) ? 0 : this.pathData.entidade + 1;
        var avaliacao = this.pathData.avaliacao;

        this.pathData = {
          avaliacao: avaliacao,
          entidade: entidade
        };
        this.updatePath();
      }
    }

    window.customElements.define(SapoAvaliacoes.is, SapoAvaliacoes);
  </script>
</dom-module>
