
<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/paper-card/paper-card.html">
<link rel="import" href="../bower_components/paper-toast/paper-toast.html">
<link rel="import" href="../elements/sapo-selector-crud.html">
<link rel="import" href="../elements/sapo-overlay.html">
<link rel="import" href="../elements/element-template.html">
<link rel="import" href="./sapo-crud-indicador.html">
<link rel="import" href="./sapo-crud-pilar.html">
<link rel="import" href="./sapo-crud-tipo.html">
<link rel="import" href="./sapo-crud-nivel.html">
<link rel="import" href="./sapo-crud-subnivel.html">
<link rel="import" href="./sapo-crud-item.html">
<link rel="import" href="./sapo-list-itens.html">

<dom-module id="sapo-indicadores">

  <template>

    <style>
      :host {
        display: flex;
      }

      paper-card {
        margin: 0px;
        padding: 20px;
        float: left;

        display: flex;
      }

      #selectorsCard {
        margin: 0px 20px 0px 40px;
        flex-direction: column;
      }

      #itensCard {
        margin: 0px 40px 0px 20px;
        flex-grow: 1;
      }

      sapo-list-itens {
        flex-grow: 1;
      }

      sapo-overlay {
        margin: 80px;
        min-width: 500px;
      }
      paper-toast paper-button{
        color: #eeff41;
      }
    </style>

    <app-route
      route="{{route}}"
      pattern="/:indicador"
      data="{{routeData}}"
      tail="{{subroute}}">
    </app-route>

    <iron-ajax auto indicador="indicador" url="http://N350i-22878:8080/indicadores/" last-response="{{indicadores}}"></iron-ajax>
    <iron-ajax indicador="pilar" url="http://N350i-22878:8080/pilares/indicador/[[indicador]]" last-response="{{pilares}}"></iron-ajax>
    <iron-ajax indicador="tipo" url="http://N350i-22878:8080/tipos/pilar/[[pilar]]" last-response="{{tipos}}"></iron-ajax>
    <iron-ajax indicador="nivel" url="http://N350i-22878:8080/niveis/tipo/[[tipo]]" last-response="{{niveis}}"></iron-ajax>
    <iron-ajax indicador="subnivel" url="http://N350i-22878:8080/subniveis/nivel/[[nivel]]" last-response="{{subniveis}}"></iron-ajax>
    <iron-ajax indicador="item" url="http://N350i-22878:8080/itens/subnivel/[[subnivel]]" last-response="{{itens}}"></iron-ajax>

    <paper-card id="selectorsCard" >
      <sapo-selector-crud indicador="indicador" label="Indicador" data="[[indicadores]]" selected="{{indicador}}" on-select="_selectIndicador" on-add="_newIndicador" on-edit="_editIndicador" on-delete="_deleteIndicador" ></sapo-selector-crud>
      <sapo-selector-crud indicador="pilar" label="Pilar" data="[[pilares]]" selected="{{pilar}}" on-select="_selectIndicador" on-add="_newIndicador" on-edit="_editIndicador" on-delete="_deleteIndicador" ></sapo-selector-crud>
      <sapo-selector-crud indicador="tipo" label="Tipo" data="[[tipos]]" selected="{{tipo}}" on-select="_selectIndicador" on-add="_newIndicador" on-edit="_editIndicador" on-delete="_deleteIndicador" ></sapo-selector-crud>
      <sapo-selector-crud indicador="nivel" label="Nível" data="[[niveis]]" selected="{{nivel}}" on-select="_selectIndicador" on-add="_newIndicador" on-edit="_editIndicador" on-delete="_deleteIndicador" ></sapo-selector-crud>
      <sapo-selector-crud indicador="subnivel" label="Subnível" data="[[subniveis]]" selected="{{subnivel}}" on-select="_selectIndicador" on-add="_newIndicador" on-edit="_editIndicador" on-delete="_deleteIndicador" ></sapo-selector-crud>
    </paper-card>

    <paper-card id="itensCard" >
      <sapo-list-itens indicador="item" label="Item" data="[[itens]]" on-add="_newIndicador" on-edit="_editIndicador" on-delete="_deleteIndicador"></sapo-list-itens>
    </paper-card>

    <sapo-overlay id="overlayArea" on-close="_crudClosed" with-backdrop>
      <iron-pages id="crudSelector" selected="[[crud]]" attr-for-selected="indicador">
        <sapo-crud-indicador indicador="indicador" on-save="_saveResult" on-delete="_deleteResult" ></sapo-crud-indicador>
        <sapo-crud-pilar indicador="pilar" on-save="_saveResult" on-delete="_deleteResult" ></sapo-crud-pilar>
        <sapo-crud-tipo indicador="tipo" on-save="_saveResult" on-delete="_deleteResult" ></sapo-crud-tipo>
        <sapo-crud-nivel indicador="nivel" on-save="_saveResult" on-delete="_deleteResult" ></sapo-crud-nivel>
        <sapo-crud-subnivel indicador="subnivel" on-save="_saveResult" on-delete="_deleteResult" ></sapo-crud-subnivel>
        <sapo-crud-item indicador="item" on-save="_saveResult" on-delete="_deleteResult" ></sapo-crud-item>
      </iron-pages>
    </sapo-overlay>

    <paper-toast id="quickNote"></paper-toast>
    <paper-toast id="persistentNote" duration="0" >
      <paper-button on-click="_closeNote">Fechar</paper-button>
    </paper-toast>

  </template>

  <script>
    class SapoIndicadores extends Polymer.Element {

      static get is() { return 'sapo-indicadores'; }

      static get properties() {
        return {
          indicador: Number,
          pilar: Number,
          tipo: Number,
          nivel: Number,
          subnivel: Number,

          indicadores: Array,
          pilares: Array,
          tipos: Array,
          niveis: Array,
          subniveis: Array,
          itens: Array,

          hierarchy: {
            type: Array,
            value: ['indicador', 'pilar', 'tipo', 'nivel', 'subnivel', 'item']
          },

          crud: String
        }
      }


      //
      //EVENTS

      _selectIndicador(e) {
        var indicador = e.target.getAttribute('indicador');
        var selectedValue = e.detail.id;

        this[indicador] = selectedValue;

        var nextIndicador = this._getNextIndicador(indicador);
        if (nextIndicador) {

          if (nextIndicador === 'item')
            this._getElementByIndicador('sapo-list-itens', nextIndicador).disabled = (selectedValue === 0);
          else
            this._getElementByIndicador('sapo-selector-crud', nextIndicador).disabled = (selectedValue === 0);

          let nextAjax = this._getElementByIndicador('iron-ajax', nextIndicador);
          nextAjax.generateRequest();
        }
      }

      _newIndicador(e) {
        this.crud = e.target.getAttribute('indicador');
        var previousIndicador = this._getPreviousIndicador(this.crud);
        var crudElement = this.$.crudSelector.selectedItem;

        crudElement.fk = this[previousIndicador];
        crudElement.mode = 'new';
        this.$.overlayArea.open();
      }

      _editIndicador(e) {
        this.crud = e.target.getAttribute('indicador');
        var crudElement = this.$.crudSelector.selectedItem;

        crudElement.id = e.detail.id;
        crudElement.mode = 'edit';
        this.$.overlayArea.open();
      }

      _deleteIndicador(e) {
        this.crud = e.target.getAttribute('indicador');
        var crudElement = this.$.crudSelector.selectedItem;

        crudElement.id = e.detail.id;
        crudElement.mode = 'delete';
        this.$.overlayArea.open();
      }

      _saveResult(e) {
        this.$.overlayArea.close();

        var indicador = e.target.getAttribute('indicador');
        var entity = e.detail;

        var ajax = this._getElementByIndicador('iron-ajax', indicador);
        ajax.generateRequest().completes
          .then(() => {
            return requestAnimationFrame;
          }).then(() => {
            this[indicador] = entity.id;
          });

        var label = this._getIndicadorLabel(indicador);
        this._showNotification(label + ' salvo com sucesso!');
      }

      _deleteResult(e) {
        this.$.overlayArea.close();

        var deleted = e.detail.deleted;
        var indicador = e.target.getAttribute('indicador');
        var label = this._getIndicadorLabel(indicador);

        if (deleted) {
          this._showNotification(label + ' removido com sucesso!');

          let ajax = this._getElementByIndicador('iron-ajax', indicador);
          ajax.generateRequest();
        } else {
          this._showNotification('Não foi possível remover o ' + label + '. Verifique se o mesmo não possui dependências.', true);
        }
      }

      _crudClosed() {
        let crudElement = this.$.crudSelector.selectedItem;
        crudElement.mode = 'closed'
      }

      _closeNote(e) {
        this.$.persistentNote.close();
      }


      //
      //UTILS

      _getIndicadorLabel(indicador) {
        var selector = this._getElementByIndicador('sapo-selector-crud', indicador);
        if (selector)
          return selector.getAttribute('label');

        var itens = this._getElementByIndicador('sapo-list-itens', indicador);
        if (itens)
          return itens.getAttribute('label');
      }

      _getElementByIndicador(element, indicador) {
        return Polymer.dom(this.root).querySelector(element + '[indicador=' + indicador + ']');
      }

      _getNextIndicador(indicador) {
        let currentIndex = this._getHierarchyIndex(indicador);
        return this.hierarchy[currentIndex + 1];
      }

      _getPreviousIndicador(indicador) {
        let currentIndex = this._getHierarchyIndex(indicador);
        return this.hierarchy[currentIndex - 1];
      }

      _getHierarchyIndex(indicador) {
        let currentIndex = this.hierarchy.indexOf(indicador);

        if (currentIndex < 0)
          return NaN;
        return currentIndex;
      }

      _showNotification(text, isPersistent) {

        //close all notes
        Polymer.dom(this.root).querySelectorAll('paper-toast').forEach(note => {
          note.close();
        });

        //prepare and show note
        var note = (isPersistent) ? this.$.persistentNote : this.$.quickNote;
        note.text = text;
        note.open();
      }

    }

    window.customElements.define(SapoIndicadores.is, SapoIndicadores);
  </script>
</dom-module>
