<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-form/iron-form.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-input/paper-textarea.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">


<dom-module id="sapo-crud-indicador">

  <template>

    <style>

      div {
        padding-top: 50px;
      }

      paper-button {
        color: white;
      }

      .blue {
        background: #337ab7;
      }

      .gray {
        background: #616161;
      }

      paper-button[disabled] {
        background: #eaeaea;
        color: #a8a8a8;
      }

    </style>

    <iron-ajax id="getIndicadorAjax" url="http://N350i-22878:8080/indicadores/[[id]]" on-response="_getResponse"></iron-ajax>
    <iron-ajax id="postIndicadorAjax"
      url="http://N350i-22878:8080/indicadores/"
      method="POST"
      content-type="application/json"
      handle-as="json"
      body="[[data]]"
      on-response="_postResponse">
    </iron-ajax>
    <iron-ajax id="putIndicadorAjax"
      url="http://N350i-22878:8080/indicadores/"
      method="PUT"
      content-type="application/json"
      handle-as="json"
      body="[[data]]"
      on-response="_putResponse">
    </iron-ajax>

    <paper-input name="nome" label="Nome" value="{{data.nome}}" required></paper-input>
    <paper-textarea id="objetivosInput" name="objetivos" label="Objetivos" value="{{data.objetivos}}" rows="3" ></paper-textarea>

    <div>
      <paper-button disabled="[[saveDisabled]]" class="blue" on-click="_submitClicked" raised><iron-icon icon="save"></iron-icon>Salvar</paper-button>
      <paper-button class="gray" on-click="_clearClicked" raised><iron-icon icon="rounded-corner"></iron-icon>Limpar</paper-button>
    </div>

  </template>

  <script>
    class SapoCrudIndicador extends Polymer.Element {

      static get is() { return 'sapo-crud-indicador'; }

      static get properties() {
        return {
          id: {
            type: Number,
            observer: '_idChanged'
          },
          data: {
            type: Object,
            value: () => { return {id: 0, nome: '', objetivos: ''}; }
          },

          disabled: Boolean,
          saveDisabled: {
            type: Boolean,
            computed: '_isSaveDisabled(data.nome, disabled)'
          },

          mode: {
            type: String,
            observer: '_modeChanged'
          }
        }
      }


      //
      //OBSERVERS & COMPUTEDS

      _idChanged(newId) {
        this.set('data.id', newId);
      }

      _modeChanged(newMode) {

        switch (newMode) {
          case 'new':
            this.id = 0;
            this.disabled = false;
            this._blurTextarea();
            break;
          case 'edit':
            this.disabled = false;
            this.$.getIndicadorAjax.generateRequest();
            break;
          case 'closed':
            this._clear();
            break;
        }
      }

      _isSaveDisabled(nome, disabled) {
        return (!nome.trim()) || disabled;
      }


      //
      //EVENTS

      _clearClicked() {
        this._clear();
      }

      _submitClicked() {

        let ajax;

        switch (this.mode) {
          case 'new':
            ajax = this.$.postIndicadorAjax;
            break;
          case 'edit':
            ajax = this.$.putIndicadorAjax;
            break;
        }

        ajax.generateRequest();
      }

      _postResponse(e) {
        this.dispatchEvent(new CustomEvent('save', {detail: e.detail.response}));
      }

      _putResponse(e) {
        this.dispatchEvent(new CustomEvent('save', {detail: e.detail.response}));
      }

      _getResponse(e) {
        let indicador = e.detail.response;
        if (!indicador)
          return;

        this.data = indicador;

        this._blurTextarea();
      }


      //
      //UTILS

      _clear() {
        this.set('data.nome', '');
        this.set('data.objetivos', '');

        this._blurTextarea();
      }

      _blurTextarea() {

        //paper-textarea não da blur quando seu valor fica nulo (because fuck you, that's why)
        setTimeout(() => {
          this.$.objetivosInput.focus();
          this.$.objetivosInput.blur();
        }, 100);
      }

    }

    window.customElements.define(SapoCrudIndicador.is, SapoCrudIndicador);
  </script>
</dom-module>
