
<link rel="import" href="/bower_components/polymer/polymer-element.html">
<link rel="import" href="/bower_components/app-route/app-location.html">
<link rel="import" href="/bower_components/app-route/app-route.html">
<link rel="import" href="/bower_components/iron-pages/iron-pages.html">

<dom-module id="sapo-app">

  <template>

    <app-location route="{{route}}"></app-location>
    <app-route
        route="{{route}}"
        pattern="/:page"
        data="{{routeData}}"
        tail="{{subroute}}"></app-route>

    <iron-pages selected="[[page]]" attr-for-selected="name">
      <sapo-indicadores route="[[subroute]]" name="indicadores"></sapo-indicadores>
      <sapo-criterio-legal route="[[subroute]]" name="criterio-legal"></sapo-criterio-legal>
      <sapo-nothing name="nothing" ></sapo-nothing>
    </iron-pages>


  </template>

  <script>
    class SapoApp extends Polymer.Element {

      static get is() { return 'sapo-app'; }

      static get properties() {
        return {
          page: {
            type: String,
            reflectToAttribute: true,
            observer: '_pageChanged',
          }
        };
      }

      static get observers() {
        return [
          '_routePageChanged(routeData.page)',
        ];
      }

      _routePageChanged(page) {

        if (page === undefined) {
          return;
        }

        this.page = page || 'nothing';
      }

      _pageChanged(page) {

        if (window.angularScope) {
          let conteudo = (page === 'nothing') ? 'inicio' : page;
          if ($('#menu_topo #'+ conteudo + ' a').length > 0) {
              window.angularScope.setConteudo(conteudo);
              $('#menu_topo #'+ conteudo + ' a').click(); //caso especial - view inicio
          }
        }

        // Load page import on demand. Show 404 page if fails
        var resolvedPageUrl = this.resolveUrl('sapo-' + page + '.html');
        //console.log('resolvedPageUrl ' + resolvedPageUrl);
        Polymer.importHref(
            resolvedPageUrl,
            null,
            null,
            true);
      }

    }

    window.customElements.define(SapoApp.is, SapoApp);
  </script>

</dom-module>
