<link rel="import" href="/bower_components/polymer/polymer-element.html">
<link rel="import" href="/bower_components/app-route/app-route.html">
<link rel="import" href="/bower_components/iron-pages/iron-pages.html">
<link rel="import" href="./avaliacoes/sapo-list-avaliacoes.html">
<link rel="import" href="./avaliacoes/sapo-list-objetos-avaliacao.html">
<link rel="import" href="./avaliacoes/sapo-evaluate-objeto-avaliacao.html">

<dom-module id="sapo-avaliacoes">

  <template>

    <app-route route="{{route}}" tail="{{subroute}}"></app-route>

    <iron-pages selected="[[page]]" selected-attribute="active" attr-for-selected="name">
      <sapo-list-avaliacoes name="list-avaliacoes" on-evaluate="_expandAvaliacao"></sapo-list-avaliacoes>
      <sapo-list-objetos-avaliacao name="list-objetos-avaliacao" avaliacao="[[pathData.avaliacao]]" on-evaluate="_expandObjetoAvaliacao"></sapo-list-objetos-avaliacao>
      <sapo-evaluate-objeto-avaliacao name="evaluate-objeto-avaliacao" objeto-avaliacao="[[pathData.objetoAvaliacao]]"></sapo-evaluate-objeto-avaliacao>
    </iron-pages>

  </template>

  <script>
    class SapoAvaliacoes extends Polymer.Element {

      static get is() { return 'sapo-avaliacoes'; }

      static get properties() {
        return {
          route: {
            type: String,
            observer: '_routeObserver'
          },
          pathData: {
            type: Object,
            value: () => { return {avaliacao: NaN, objetoAvaliacao: NaN}; }
          },
          page: {
            type: String,
            computed: '_computePage(pathData)'
          }
        }
      }


      //
      //OBSERVERS & COMPUTEDS

      _computePage(pathData) {

        if (isNaN(pathData.avaliacao))
          return 'list-avaliacoes';
        else if (isNaN(pathData.objetoAvaliacao))
          return 'list-objetos-avaliacao';

        return 'evaluate-objeto-avaliacao';
      }

      _routeObserver(newRoute) {

        if (!newRoute || newRoute.prefix !== '/avaliacoes') return; //not my business

        if (newRoute.path === '')
          newRoute.path = '/';

        var pathDataArray = newRoute.path.split('/')
                              .map(item => {
                                return parseInt(item);
                              }).filter(item => {
                                return !isNaN(item);
                              });

        var avaliacao = (pathDataArray.length > 0) ? pathDataArray[0] : NaN;
        var objetoAvaliacao = (pathDataArray.length > 1) ? pathDataArray[1] : NaN;

        //using Object.is because i need 'NaN == NaN' to return true
        if (!Object.is(this.pathData.avaliacao, avaliacao) || !Object.is(this.pathData.objetoAvaliacao, objetoAvaliacao))
          this.pathData = {avaliacao: avaliacao, objetoAvaliacao: objetoAvaliacao};
      }


      //
      //EVENTS

      _expandAvaliacao(e) {
        this.updateAvaliacao(e.detail);
      }

      _expandObjetoAvaliacao(e) {
        this.updateObjetoAvaliacao(e.detail);
      }


      //
      //UTILS

      updateAvaliacao(newAvaliacao) {
        var avaliacao = (isNaN(newAvaliacao)) ? NaN : newAvaliacao;
        var objetoAvaliacao = NaN; //it should reset objetoAvaliacao

        this.updatePathData(avaliacao, objetoAvaliacao);
      }

      updateObjetoAvaliacao(newObjetoAvaliacao) {
        var objetoAvaliacao = (isNaN(newObjetoAvaliacao)) ? NaN : newObjetoAvaliacao;
        var avaliacao = this.pathData.avaliacao;

        this.updatePathData(avaliacao, objetoAvaliacao);
      }

      updatePathData(avaliacao, objetoAvaliacao) {
        this.pathData = {
          avaliacao: avaliacao,
          objetoAvaliacao: objetoAvaliacao
        };
        this.updatePath();
      }

      updatePath() {
        if (!isNaN(this.pathData.avaliacao)) {
          let url = "/" + this.pathData.avaliacao;
          if (!isNaN(this.pathData.objetoAvaliacao))
            url += "/" + this.pathData.objetoAvaliacao;

          window.history.pushState({}, null, this.route.prefix + url);
          window.dispatchEvent(new CustomEvent('location-changed'));
        }
      }

    }

    window.customElements.define(SapoAvaliacoes.is, SapoAvaliacoes);
  </script>
</dom-module>
