<link rel="import" href="/bower_components/polymer/polymer-element.html">
<link rel="import" href="/bower_components/app-route/app-route.html">
<link rel="import" href="/bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="./relatorios/sapo-avaliacao-information-bar.html">
<link rel="import" href="./relatorios/sapo-relatorio-objeto-avaliacao.html">

<dom-module id="sapo-relatorios">

  <template>

    <style include="sapo-styles">

      :host {
        display: flex;
        flex-wrap: wrap;
      }

      sapo-relatorio-objeto-avaliacao {
        width: 100%;
        margin: 5px 100px;
      }

      sapo-avaliacao-information-bar {
        width: 100%;
        margin: 5px 100px;
      }

    </style>

    <app-route route="{{route}}" pattern="/:id" data="{{routeData}}"></app-route>

    <iron-ajax auto="[[ready]]" url="[[appconfig.url.api]]/objetosavaliacao/[[id]]/full" last-response="{{objetoAvaliacao}}"></iron-ajax>
    <iron-ajax auto="[[ready]]" url="[[appconfig.url.api]]/notas/objetoavaliacao/[[id]]/full" last-response="{{notas}}"></iron-ajax>

    <sapo-avaliacao-information-bar objeto-avaliacao="[[objetoAvaliacao]]" notas="[[notas]]"></sapo-avaliacao-information-bar>
    <sapo-relatorio-objeto-avaliacao notas="[[notas]]"></sapo-relatorio-objeto-avaliacao>

  </template>

  <script>
    class SapoRelatorios extends Polymer.Element {

      static get is() { return 'sapo-relatorios'; }

      static get properties() {
        return {
          id: {
            type: Number,
            computed: '_computeId(routeData)'
          },
          pilares: Array,

          notas: Array,
          objetoAvaliacao: Object,

          ready: {
            type: Boolean,
            computed: '_isReady(route, appconfig)'
          }
        }
      }

      _isReady(route, appconfig) {
        return route != null && route.prefix === "/relatorios" && appconfig != null;
      }

      _computeId(routeData) {
        return parseInt(routeData.id);
      }

    }

    window.customElements.define(SapoRelatorios.is, SapoRelatorios);
  </script>
</dom-module>
