<link rel="import" href="/bower_components/polymer/polymer-element.html">
<link rel="import" href="/bower_components/app-layout/app-layout.html">
<link rel="import" href="/bower_components/app-route/app-location.html">
<link rel="import" href="/bower_components/app-route/app-route.html">
<link rel="import" href="/bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="/bower_components/iron-pages/iron-pages.html">
<link rel="import" href="/bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="/elements/sapo-styles.html">
<link rel="import" href="/elements/sapo-cookies.html">

<dom-module id="sapo-app">

  <template>

    <style include="sapo-styles">

      :host {
        --paper-tabs-selection-bar-color: var(--paper-light-blue-500);
      }

      app-header {
        background-color: white;
        border-bottom: 1px solid #ddd;
        margin-bottom: 10px;
      }

      app-toolbar {
        height: auto;
        padding: auto;
      }

      paper-tab {
        flex: none;
        padding: 0px 20px;
      }

      paper-tab a {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      a, div {
        text-decoration: none;
        text-transform: uppercase;
        outline: 0;
        color: var(--paper-grey-600);
        font-weight: 500;
      }

      #userDetailsLink {
        font-weight: bold;
        text-decoration: underline;
      }

    </style>

    <iron-ajax auto url="/appconfig.json" handle-as="json" last-response="{{appconfig}}"></iron-ajax>
    <sapo-cookies profile="{{profile}}"></sapo-cookies>

    <app-location route="{{route}}"></app-location>
    <app-route route="{{route}}" pattern="/:page" data="{{routeData}}" tail="{{subroute}}"></app-route>

    <app-header>
      <app-toolbar>
        <a href="/" tabindex="-1" style="margin-right:20px" >S.A.P.O.</a>
        <paper-tabs attr-for-selected="name" selected="[[page]]" noink>
          <paper-tab name="avaliacoes" link><a href="/avaliacoes" tabindex="-1">Avaliações</a></paper-tab>
          <paper-tab name="nova-avaliacao" link><a href="/nova-avaliacao" tabindex="-1">Nova Avaliação</a></paper-tab>
          <paper-tab name="indicadores" link><a href="/indicadores" tabindex="-1">Indicadores</a></paper-tab>
          <paper-tab name="criterio-legal" link><a href="/criterio-legal" tabindex="-1">Critério Legal</a></paper-tab>
          <paper-tab name="login" link><a href="/login" tabindex="-1">Login</a></paper-tab>
        </paper-tabs>
        <div condensed-title></div>
        <div class$="[[_computeUserAreaCss(appconfig.profile)]]">Logado como <a id="userDetailsLink" href="/usuarios" tabindex="-1">[[profile.user.usuario]]</a></div>
      </app-toolbar>
    </app-header>

    <iron-pages selected="[[page]]" attr-for-selected="name" selected-attribute="active">
      <sapo-start appconfig="[[appconfig]]" route="{{subroute}}" name="start"></sapo-start>
      <sapo-avaliacoes appconfig="[[appconfig]]" route="{{subroute}}" name="avaliacoes"></sapo-avaliacoes>
      <sapo-nova-avaliacao appconfig="[[appconfig]]" route="{{subroute}}" name="nova-avaliacao"></sapo-nova-avaliacao>
      <sapo-indicadores appconfig="[[appconfig]]" route="{{subroute}}" name="indicadores"></sapo-indicadores>
      <sapo-criterio-legal appconfig="[[appconfig]]" route="{{subroute}}" name="criterio-legal"></sapo-criterio-legal>
      <sapo-login appconfig="[[appconfig]]" route="{{subroute}}" name="login" on-login="_userLoggedIn"></sapo-login>
      <sapo-usuarios appconfig="[[appconfig]]" route="{{subroute}}" name="usuarios" on-login="_userLoggedIn"></sapo-usuarios>
      <sapo-relatorios appconfig="[[appconfig]]" route="{{subroute}}" name="relatorios"></sapo-relatorios>
      <sapo-404 appconfig="[[appconfig]]" route="{{subroute}}" name="404"></sapo-404>
    </iron-pages>

  </template>

  <script>
    class SapoApp extends Polymer.Element {

      static get is() { return 'sapo-app'; }

      static get properties() {
        return {
          page: {
            type: String,
            reflectToAttribute: true,
            observer: '_pageChanged',
          },

          appconfig: {
            type: Object,
            observer: '_appconfigChanged'
          },
          profile: {
            type: Object,
            observer: '_profileChanged'
          }
        };
      }

      static get observers() {
        return [
          '_routePageChanged(routeData.page)'
        ];
      }


      //
      //COMPUTEDS & OBSERVERS

      _computeUserAreaCss(profile) {
        return (profile == null) ? 'hidden' : '';
      }

      _routePageChanged(page) {
        if (page === undefined) return;

        this.page = page || 'start';
      }

      _pageChanged(page) {

        // Load page import on demand
        var resolvedPageUrl = this.resolveUrl('sapo-' + page + '.html');
        Polymer.importHref(resolvedPageUrl, null, this._redirectTo404.bind(this), true);
      }

      _appconfigChanged() {
        if (this.appconfig != null && this.appconfig.profile == null)
          this.set('appconfig.profile', this.profile);
      }

      _profileChanged() {
        if (this.appconfig != null)
          this.set('appconfig.profile', this.profile);
      }


      //
      //EVENTS

      _userLoggedIn(e) {
        this.profile = { user: e.detail.user, token: e.detail.token };
      }


      //
      //UTILS

      _redirectTo404() {
        this.page = '404';
      }

    }

    window.customElements.define(SapoApp.is, SapoApp);
  </script>

</dom-module>
