<link rel="import" href="/bower_components/polymer/polymer-element.html">
<link rel="import" href="/bower_components/paper-card/paper-card.html">
<link rel="import" href="/elements/sapo-styles.html">

<dom-module id="sapo-start">

  <template>

    <style include="sapo-styles">

      :host {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 80vh;
      }

      paper-card {
        padding: 60px;
        background-color: var(--sapo-light-gray);
      }

      h1 {
        font-size: 60px;
        margin: 0px;
      }

      p {
        font-size: 20px;
      }

    </style>

    <paper-card>
      <h1>S.A.P.O.</h1>
      <p>Sistema de avaliações de portais de transparência</p>
    </paper-card>

  </template>

  <script>
    class SapoStart extends Polymer.Element {

      static get is() { return 'sapo-start'; }
      
    }

    window.customElements.define(SapoStart.is, SapoStart);
  </script>
</dom-module>
