<link rel="import" href="/bower_components/polymer/polymer-element.html">
<link rel="import" href="/bower_components/app-route/app-route.html">
<link rel="import" href="/elements/sapo-styles.html">
<link rel="import" href="./relatorios/sapo-relatorio-objeto-avaliacao.html">

<dom-module id="sapo-relatorios">

  <template>

    <style include="sapo-styles">
    </style>

    <app-route route="{{route}}" pattern="/:relatorio" data="{{routeData}}" tail="{{subroute}}"></app-route>

    <sapo-relatorio-objeto-avaliacao appconfig="[[appconfig]]" route="{{subroute}}"></sapo-relatorio-objeto-avaliacao>

  </template>

  <script>
    class SapoRelatorios extends Polymer.Element {

      static get is() { return 'sapo-relatorios'; }

      static get properties() {
        return { }
      }

    }

    window.customElements.define(SapoRelatorios.is, SapoRelatorios);
  </script>
</dom-module>
