
<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/paper-card/paper-card.html">
<link rel="import" href="../elements/sapo-selector-crud.html">

<dom-module id="sapo-indicadores">

  <template>

    <style include="iron-flex iron-flex-factors">
      paper-card {
        margin-left: 80px;
        margin-right: 80px;
      }
    </style>

    <app-route
      route="{{route}}"
      pattern="/:indicador"
      data="{{routeData}}"
      tail="{{subroute}}">
    </app-route>

    <iron-ajax auto url="http://N350i-22878:8082/sapo-api-php/indicador/[[usuario]]/[[senha]]" last-response="{{indicadores}}"></iron-ajax>
    <iron-ajax id="getPilaresAjax" url="http://N350i-22878:8082/sapo-api-php/pilar/[[usuario]]/[[senha]]" on-response="_filterPilares"></iron-ajax>
    <iron-ajax id="getTiposAjax" url="http://N350i-22878:8082/sapo-api-php/tipo/[[usuario]]/[[senha]]" on-response="_filterTipos"></iron-ajax>
    <iron-ajax id="getNiveisAjax" url="http://N350i-22878:8082/sapo-api-php/nivel/[[usuario]]/[[senha]]" on-response="_filterNiveis"></iron-ajax>
    <iron-ajax id="getSubniveisAjax" url="http://N350i-22878:8082/sapo-api-php/subnivel/[[usuario]]/[[senha]]" on-response="_filterSubniveis"></iron-ajax>

    <paper-card class="layout vertical fit">

      <sapo-selector-crud label="Indicador" data="[[indicadores]]" selected="{{selectedIndicador}}"></sapo-selector-crud>
      <sapo-selector-crud label="Pilar" data="[[pilares]]" selected="{{selectedPilar}}"></sapo-selector-crud>
      <sapo-selector-crud label="Tipo" data="[[tipos]]" selected="{{selectedTipo}}"></sapo-selector-crud>
      <sapo-selector-crud label="Nivel" data="[[niveis]]" selected="{{selectedNivel}}"></sapo-selector-crud>
      <sapo-selector-crud label="Subnível" data="[[subniveis]]" selected="{{selectedSubnivel}}"></sapo-selector-crud>

    </paper-card>

  </template>

  <script>
    class SapoIndicadores extends Polymer.Element {

      static get is() { return 'sapo-indicadores'; }

      static get properties() {
        return {
          usuario: {
            type: String,
            value: 'victor'
          },
          senha: {
            type: String,
            value: '123'
          },
          selectedIndicador: {
            type: Number,
            observer: '_indicadorChanged'
          },
          selectedPilar: {
            type: Number,
            observer: '_pilarChanged'
          },
          selectedTipo: {
            type: Number,
            observer: '_tipoChanged'
          },
          selectedNivel: {
            type: Number,
            observer: '_nivelChanged'
          },
          selectedSubnivel: {
            type: Number,
            observer: '_subnivelChanged'
          },
          indicadores: Array,
          pilares: Array,
          tipos: Array,
          niveis: Array,
          subniveis: Array
        }
      }

      _indicadorChanged(newId, oldId) {
        this.$.getPilaresAjax.generateRequest();
        this.selectedPilar = 0;
        this.selectedTipo = 0;
        this.selectedNivel = 0;
        this.selectedSubnivel = 0;
      }

      _pilarChanged(newId, oldId) {
        this.$.getTiposAjax.generateRequest();
        this.selectedTipo = 0;
        this.selectedNivel = 0;
        this.selectedSubnivel = 0;
      }

      _tipoChanged(newId, oldId) {
        this.$.getNiveisAjax.generateRequest();
        this.selectedNivel = 0;
        this.selectedSubnivel = 0;
      }

      _nivelChanged(newId, oldId) {
        this.$.getSubniveisAjax.generateRequest();
        this.selectedSubnivel = 0;
      }

      _subnivelChanged(newId, oldId) {

      }

      _filterPilares(e) {
        let pilares = e.detail.response;
        this.pilares = pilares.filter((pilar) => { return pilar.Indicador_id === this.selectedIndicador; });
      }

      _filterTipos(e) {
        let tipos = e.detail.response;
        this.tipos = tipos.filter((tipo) => { return tipo.Pilar_id === this.selectedPilar; });
      }

      _filterNiveis(e) {
        let niveis = e.detail.response;
        this.niveis = niveis.filter((nivel) => { return nivel.Tipo_id === this.selectedTipo; });
      }

      _filterSubniveis(e) {
        let subniveis = e.detail.response;
        this.subniveis = subniveis.filter((subnivel) => { return subnivel.Nivel_id === this.selectedNivel; });
      }

    }

    window.customElements.define(SapoIndicadores.is, SapoIndicadores);
  </script>
</dom-module>
