<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../elements/sapo-item-crud.html">


<dom-module id="sapo-list-itens">

  <template>

    <style>

      .green {
        background: #5cb85c;
      }

      paper-listbox {
        --paper-listbox-background-color: lightgray;

        height: 250px;
        padding: 0px;
        overflow: auto;
      }

      paper-button {
        margin: 5px auto;
        color: white;
      }

      paper-button[disabled] {
        background: #eaeaea;
        color: #a8a8a8;
      }

    </style>

    <paper-button raised on-click="_addClicked" disabled="[[disabled]]" class="green"><iron-icon icon="add"></iron-icon>Novo</paper-button>

    <paper-listbox attr-for-selected="identity"  >
      <template is="dom-repeat" items="[[data]]">
        <sapo-item-crud text="[[item.nome]]" identity="[[item.id]]" on-blur="_itemBlur" on-focus="_itemFocus" on-edit="_editClicked" on-delete="_deleteClicked" ></sapo-item-crud>
      </template>
    </paper-listbox>

  </template>

  <script>
    class SapoListItens extends Polymer.Element {

      static get is() { return 'sapo-list-itens'; }

      static get properties() {
        return {
          data: Array,
          selected: {
            type: Number,
            notify: true,
            observer: '_selectedChanged'
          },

          disabled: {
            type: Boolean,
            value: true
          }
        }
      }

      _addClicked() {
        this.dispatchEvent(new CustomEvent('add'));
      }

      _editClicked(e) {
        this.dispatchEvent(new CustomEvent('edit', {detail: e.detail}));
      }

      _deleteClicked(e) {
        this.dispatchEvent(new CustomEvent('delete', {detail: e.detail}));
      }


      //
      //PRECISE SELECTING EVENTS

      _itemBlur(e) {
        if (!e.relatedTarget || e.relatedTarget.tagName.toLocaleLowerCase() !== 'sapo-item-crud')
          this.selected = 0;
      }

      _itemFocus(e) {
        this.selected = (e.path[0].identity == null) ? 0 : e.path[0].identity;
      }

      _selectedChanged(newId) {
        this.dispatchEvent(new CustomEvent('select', {detail: {id: newId}}));
      }

    }

    window.customElements.define(SapoListItens.is, SapoListItens);
  </script>
</dom-module>
