<link rel="import" href="/bower_components/polymer/polymer-element.html">
<link rel="import" href="/bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="/bower_components/iron-icons/iron-icons.html">
<link rel="import" href="/bower_components/iron-pages/iron-pages.html">
<link rel="import" href="/bower_components/paper-card/paper-card.html">
<link rel="import" href="/bower_components/paper-button/paper-button.html">
<link rel="import" href="/bower_components/paper-toast/paper-toast.html">
<link rel="import" href="/elements/sapo-list-items.html">
<link rel="import" href="/elements/sapo-overlay.html">
<link rel="import" href="./criterio-legal/sapo-crud-criterio-legal.html">
<link rel="import" href="./criterio-legal/sapo-crud-norma.html">

<dom-module id="sapo-criterio-legal">

  <template>

    <style>

      :host {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
      }

      .green {
        background: #5cb85c;
      }

      paper-card {
        margin: 5px 20px;
        padding: 10px;
        width: 40vw;
        align-items: center;

        display: flex;
        flex-direction: column;
      }

      h2 {
        margin: 0px;
        align-self: flex-start;

        font-family: Georgia, serif;
      }

      hr {
        border: 0;
        margin: 0px 0px 10px;
        clear:both;
        display:block;
        width: 100%;
        background-color:lightgray;
        height: 1px;
      }

      sapo-overlay {
        margin: 80px;
        min-width: 500px;
      }

      paper-button {
        margin: 5px auto 5px 0px;
        color: white;
      }

      paper-button[disabled] {
        background: #eaeaea;
        color: #a8a8a8;
      }

      paper-toast paper-button {
        color: #eeff41;
      }

    </style>

    <iron-ajax id="getCriteriosLegaisAjax" auto url="http://N350i-22878:8080/criterioslegais/full" last-response="{{criteriosLegais}}"></iron-ajax>
    <iron-ajax id="getNormasAjax" auto url="http://n350i-22878:8080/normas/" last-response="{{normas}}"></iron-ajax>

    <paper-card>
      <h2>Critérios Legais</h2>
      <hr>
      <paper-button entity="criterio-legal" on-click="_newEntity" class="green" raised><iron-icon icon="add"></iron-icon>Novo</paper-button>
      <sapo-list-items entity="criterio-legal" data="[[_computeCriteriosLegais(criteriosLegais)]]" on-edit="_editEntity" on-delete="_deleteEntity" unselectable ></sapo-list-items>
    </paper-card>

    <paper-card>
      <h2>Normas</h2>
      <hr>
      <paper-button entity="norma" on-click="_newEntity" class="green" raised><iron-icon icon="add"></iron-icon>Novo</paper-button>
      <sapo-list-items entity="norma" data="[[_computeNormas(normas)]]" on-edit="_editEntity" on-delete="_deleteEntity" unselectable></sapo-list-items>
    </paper-card>

    <sapo-overlay id="overlayArea" on-close="_crudClosed" with-backdrop>
      <iron-pages id="crudSelector" selected="[[crud]]" attr-for-selected="entity">
        <sapo-crud-criterio-legal entity="criterio-legal" on-save="_criterioLegalSaved" on-delete="_criterioLegalDeleted" ></sapo-crud-criterio-legal>
        <sapo-crud-norma entity="norma" on-save="_normaSaved" on-delete="_normaDeleted" ></sapo-crud-norma>
      </iron-pages>
    </sapo-overlay>

    <paper-toast id="quickNote"></paper-toast>
    <paper-toast id="persistentNote" duration="0">
      <paper-button on-click="_closeNote">Fechar</paper-button>
    </paper-toast>

  </template>

  <script>
    class SapoCriterioLegal extends Polymer.Element {

      static get is() { return 'sapo-criterio-legal'; }

      static get properties() {
        return {
          criteriosLegais: Array,
          normas: Array,

          crud: String
        }
      }


      //
      //OBSERVERS & COMPUTEDS

      _computeCriteriosLegais(data) {
        return data.map(item => {
          return {
            id: item.id,
            text: item.norma.nome + " - " + item.descricao
          }
        });
      }

      _computeNormas(data) {
        return data.map(item => {
          return {
            id: item.id,
            text: item.nome
          }
        });
      }


      //
      //EVENTS

      _newEntity(e) {
        this.crud = e.target.getAttribute('entity');
        this.$.crudSelector.selected = this.crud;

        var crudElement = this.$.crudSelector.selectedItem;
        crudElement.mode = 'new';
        this.$.overlayArea.open();
      }

      _editEntity(e) {
        this.crud = e.target.getAttribute('entity');
        this.$.crudSelector.selected = this.crud;

        var crudElement = this.$.crudSelector.selectedItem;
        crudElement.id = e.detail.id;
        crudElement.mode = 'edit';
        this.$.overlayArea.open();
      }

      _deleteEntity(e) {
        this.crud = e.target.getAttribute('entity');
        this.$.crudSelector.selected = this.crud;

        var crudElement = this.$.crudSelector.selectedItem;
        crudElement.id = e.detail.id;
        crudElement.mode = 'delete';
        this.$.overlayArea.open();
      }

      _criterioLegalSaved() {
        this.$.overlayArea.close();
        this.$.getCriteriosLegaisAjax.generateRequest();
        this._showNotification('Critério Legal salvo com sucesso!');
      }

      _criterioLegalDeleted(e) {
        this.$.overlayArea.close();
        this.$.getCriteriosLegaisAjax.generateRequest();

        if (e.detail.deleted)
          this._showNotification('Critério Legal removido com sucesso!');
        else
          this._showNotification('Não foi possível remover o Critério Legal. Verifique se o mesmo não possui dependências.', true);
      }

      _normaSaved() {
        this.$.overlayArea.close();
        this.$.getNormasAjax.generateRequest();
        this.$.getCriteriosLegaisAjax.generateRequest();
        this._showNotification('Norma salva com sucesso!');
      }

      _normaDeleted(e) {
        this.$.overlayArea.close();
        this.$.getNormasAjax.generateRequest();

        if (e.detail.deleted)
          this._showNotification('Norma removida com sucesso!');
        else
          this._showNotification('Não foi possível remover a Norma. Verifique se a mesma não possui dependências.', true);
      }

      _crudClosed() {
        let crudElement = this.$.crudSelector.selectedItem;
        crudElement.mode = 'closed';
      }

      _closeNote(e) {
        this.$.persistentNote.close();
      }


      //
      //UTILS

      _showNotification(text, isPersistent) {

        //close all notes
        Polymer.dom(this.root).querySelectorAll('paper-toast').forEach(note => {
          note.close();
        });

        //prepare and show note
        var note = (isPersistent) ? this.$.persistentNote : this.$.quickNote;
        note.text = text;
        note.open();
      }

    }

    window.customElements.define(SapoCriterioLegal.is, SapoCriterioLegal);
  </script>
</dom-module>
