<link rel="import" href="/bower_components/polymer/polymer-element.html">
<link rel="import" href="/bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="/bower_components/iron-icons/iron-icons.html">
<link rel="import" href="/bower_components/paper-button/paper-button.html">
<link rel="import" href="/bower_components/paper-card/paper-card.html">
<link rel="import" href="/bower_components/paper-listbox/paper-listbox.html">

<dom-module id="sapo-list-avaliacoes">

  <template>

    <style>

      .orange {
        background: #f0ad4e;
      }

      .red {
        background: #d9534f;
      }

      .white {
        color: black;
      }

      paper-card {
        margin: 5px 100px;
        padding: 10px;

        display: flex;
      }

      table {
        width: 100%;
      }

      thead {
        text-align: left;
      }

      th, td {
        padding: 10px;
      }

      .indicador-area {
        min-width: 200px;
      }

      .buttons-area {
        display: flex;
        flex-wrap: nowrap;
      }

      paper-button {
        color: white;
        margin: auto 2px;
      }

      paper-button[disabled] {
        background: #eaeaea;
        color: #a8a8a8;
      }

    </style>

    <iron-ajax id="getAvaliacoesAjax" auto url="http://N350i-22878:8080/avaliacoes/indicador" last-response="{{avaliacoes}}"></iron-ajax>

    <paper-card>

      <table>
        <thead>
          <th>Indicador</th>
          <th>Nome</th>
          <th>Início</th>
          <th></th>
        </thead>
        <tbody>
          <template is="dom-repeat" items="[[avaliacoes]]">
            <tr>
              <td class="indicador-area">[[item.indicador.nome]]</td>
              <td>[[item.nome]]</td>
              <td>[[_computeDate(item.inicio)]]</td>
              <td class="buttons-area">
                <paper-button raised class="white" on-click="_evaluateClicked" ><iron-icon icon="open-in-new"></iron-icon>Avaliar</paper-button>
                <paper-button disabled raised class="orange" ><iron-icon icon="create"></iron-icon>Editar</paper-button>
                <paper-button disabled raised class="red" ><iron-icon icon="delete"></iron-icon>Remover</paper-button>
              </td>
            </tr>
          </template>
        </tbody>
      </table>

    </paper-card>

  </template>

  <script>
    class SapoListAvaliacoes extends Polymer.Element {

      static get is() { return 'sapo-list-avaliacoes'; }

      static get properties() {
        return {
          avaliacoes: Array
        }
      }


      //
      //OBSERVERS & COMPUTEDS

      _computeDate(date) {
        var dateObject = new Date(date);

        var day = dateObject.getDate();
        day = (day > 9) ? day : '0' + day;
        var month = dateObject.getMonth() + 1;
        month = (month > 9) ? month : '0' + month;
        var year = dateObject.getFullYear();

        return day + '/' + month + '/' + year;
      }


      //
      //EVENTS

      _evaluateClicked(e) {
        this.dispatchEvent(new CustomEvent('evaluate', {detail: e.model.item}));
      }

    }

    window.customElements.define(SapoListAvaliacoes.is, SapoListAvaliacoes);
  </script>
</dom-module>
