<link rel="import" href="/bower_components/polymer/polymer-element.html">
<link rel="import" href="/bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="/bower_components/iron-icons/iron-icons.html">
<link rel="import" href="/bower_components/paper-button/paper-button.html">
<link rel="import" href="/bower_components/paper-card/paper-card.html">
<link rel="import" href="/bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="./sapo-avaliacoes-styles.html">
<link rel="import" href="./sapo-avaliacoes-math.html">

<dom-module id="sapo-list-objetos-avaliacao">

  <template>

    <style include="sapo-avaliacoes-styles">
    </style>

    <sapo-avaliacoes-math id="avaliacaoMath" ></sapo-avaliacoes-math>

    <iron-ajax auto="[[active]]" url="[[appconfig.url.api]]/objetosavaliacao/avaliacao/[[avaliacao]]/resumo" loading="{{loading}}" last-response="{{resumoObjetosAvaliacao}}"></iron-ajax>

    <paper-card class="card-block">

      <paper-spinner active="[[loading]]" class$="[[_computeSpinnerCss(loading)]]" ></paper-spinner>

      <table class$="[[_computeTableCss(loading)]]">
        <thead>
          <th style="min-width:100px">Entidade</th>
          <th style="min-width:100px">Nota*</th>
          <th style="min-width:150px">Pontuação Parcial**</th>
          <th style="width:100px">Concluído</th>
          <th style="width:100%">Observações</th>
          <th style="width:1%;white-space:nowrap;"></th>
        </thead>
        <tbody>
          <template is="dom-repeat" items="[[resumoObjetosAvaliacao]]">
            <tr>
              <td style="white-space:pre">[[item.entidade]]</td>
              <td style="white-space:pre">[[_computeScore(item.nota, item.totalAbsoluto)]]</td>
              <td style="white-space:pre">[[_computeScore(item.nota, item.totalRelativo)]]</td>
              <td>[[_computeConclusion(item.conclusao)]]</td>
              <td>[[item.observacoes]]</td>
              <td class="buttons-area">
                <a href="/avaliacoes/[[avaliacao]]/[[item.id]]">
                  <paper-button raised class="white"><iron-icon icon="open-in-new"></iron-icon>Avaliar</paper-button>
                </a>
                <a href="/relatorios/objeto/[[item.id]]">
                  <paper-button raised class="blue"><iron-icon icon="visibility"></iron-icon>Relatório</paper-button>
                </a>
              </td>
            </tr>
          </template>
        </tbody>
      </table>

    </paper-card>
    <p class$="[[_computeTableCss(loading)]] note" >* Considera todos os itens existentes.</p>
    <p class$="[[_computeTableCss(loading)]] note" >** Considera apenas os itens avaliados até o momento.</p>

  </template>

  <script>
    class SapoListObjetosAvaliacao extends Polymer.Element {

      static get is() { return 'sapo-list-objetos-avaliacao'; }

      static get properties() {
        return {
          active: {
            type: Boolean,
            value: false,
            observer: '_activeChanged'
          },
          loading: Boolean,

          avaliacao: Number,
          resumoObjetosAvaliacao: Object
        }
      }


      //
      //OBSERVERS & COMPUTEDS

      _computeConclusion(conclusao) {
        return parseInt(conclusao) + '%';
      }

      _computeScore(nota, total) {
        var percentage = this.$.avaliacaoMath.makePrintableScore(nota, total, 2);
        return nota + ' de ' + total + '\n(' + percentage + '%)';
      }

      _computeSpinnerCss(isLoading) {
        return (isLoading) ? '' : 'hidden';
      }

      _computeTableCss(isLoading) {
        return (isLoading) ? 'hidden' : '';
      }

      _activeChanged(isActive) {
        if (!isActive)
          this.resumoObjetosAvaliacao = [];
      }

    }

    window.customElements.define(SapoListObjetosAvaliacao.is, SapoListObjetosAvaliacao);
  </script>
</dom-module>
