<link rel="import" href="/bower_components/polymer/polymer-element.html">
<link rel="import" href="/bower_components/iron-icons/iron-icons.html">
<link rel="import" href="/bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="/bower_components/paper-input/paper-textarea.html">
<link rel="import" href="/bower_components/paper-button/paper-button.html">
<link rel="import" href="/elements/sapo-selector.html">
<link rel="import" href="/elements/sapo-styles.html">

<dom-module id="sapo-crud-nota">

  <template>

    <style include="sapo-styles">

      paper-input {
        --paper-input-container-input-webkit-spinner: {
          -webkit-appearance: none;
          appearance: none;
          margin: 0;
        };
      }

      div {
        padding-top: 50px;
      }

      #clicksInput {
        width: 100px;
      }

    </style>

    <iron-ajax auto="[[active]]" url="[[appconfig.url.api]]/notas/[[id]]" last-response="{{data}}"></iron-ajax>
    <iron-ajax id="putAjax" url="[[appconfig.url.api]]/notas/" method="PUT" content-type="application/json" handle-as="json" body="[[data]]" on-response="_putResponse"></iron-ajax>

    <paper-textarea id="observacoesInput" name="observacoes" label="Observações" value="{{data.observacoes}}" rows="3" ></paper-textarea>
    <sapo-selector label="Navegador" data="[[_computeSelectorNavegadores(navegadores)]]" selected="{{data.navegador_id}}" ></sapo-selector>
    <paper-input id="clicksInput" name="clicks" label="Clicks" value="{{clicks}}" type="number"></paper-input>

    <div>
      <paper-button class="blue" on-click="_submitClicked" raised><iron-icon icon="save"></iron-icon>Salvar</paper-button>
    </div>

  </template>

  <script>
    class SapoCrudNota extends Polymer.Element {

      static get is() { return 'sapo-crud-nota'; }

      static get properties() {
        return {
          id: {
            type: Number,
            observer: '_idChanged'
          },
          clicks: {
            type: Number,
            observer: '_clicksChanged'
          },
          data: {
            type: Object,
            observer: '_dataChanged'
          },

          navegadores: Array,

          active: Boolean
        }
      }


      //
      //OBSERVERS & COMPUTEDS

      _idChanged(newId) {
        this.set('data.id', newId);
      }

      _dataChanged(newData) {
        this._blurTextarea();
        this.clicks = newData.clicks;
      }

      _clicksChanged(clicks) {
        this.data.clicks = (clicks == '') ? null : clicks;
      }

      _computeSelectorNavegadores(navegadores) {
        return navegadores.map(navegador => { return {identity: navegador.id, text: navegador.nome + ' - ' + navegador.versao}; });
      }


      //
      //EVENTS

      _submitClicked() {
        this.$.putAjax.generateRequest();
      }

      _putResponse(e) {
        this.dispatchEvent(new CustomEvent('save', {detail: {success: (e.detail.status === 200)}}));
      }


      //
      //UTILS

      _blurTextarea() {

        return this.sleep(100)
          .then(() => {
            //paper-textarea não da blur quando seu valor fica nulo (because fuck you, that's why)
            this.$.observacoesInput.focus();
            this.$.observacoesInput.blur();
          });
      }

      //TODO: tentar deixar isso global
      sleep(time) {
        return new Promise(resolve => {
          setTimeout(resolve, time);
        });
      }

    }

    window.customElements.define(SapoCrudNota.is, SapoCrudNota);
  </script>
</dom-module>
