<link rel="import" href="/bower_components/polymer/polymer-element.html">
<link rel="import" href="/bower_components/paper-toggle-button/paper-toggle-button.html">
<link rel="import" href="/elements/sapo-selector.html">

<dom-module id="sapo-menu-indicadores">

  <template>

    <style>

      :host {
        display: flex;
        flex-direction: column;
      }

      div {
        display: flex;
        flex-direction: row;
      }

      paper-toggle-button {
        margin: 30px auto 0px 20px;
      }

      sapo-selector {
        --sapo-selector-item-warning-color: var(--paper-red-200);
        --sapo-selector-item-green-color: var(--paper-green-200);
      }

    </style>

    <div>
      <sapo-selector id="pilarSelector" label="Pilar" data="[[_computeSelectorData(data.pilares)]]" selected="{{pilar}}"></sapo-selector>
      <paper-toggle-button disabled="[[!pilarChecked]]" checked="{{pilarChecked}}"></paper-toggle-button>
    </div>
    <div>
      <sapo-selector id="tipoSelector" label="Tipo" data="[[_computeSelectorData(data.tipos, pilar, 'pilar_id')]]" selected="{{tipo}}"></sapo-selector>
      <paper-toggle-button disabled="[[!tipoChecked]]" checked="{{tipoChecked}}"></paper-toggle-button>
    </div>
    <div>
      <sapo-selector id="nivelSelector" label="Nivel" data="[[_computeSelectorData(data.niveis, tipo, 'tipo_id')]]" selected="{{nivel}}"></sapo-selector>
      <paper-toggle-button disabled="[[!nivelChecked]]" checked="{{nivelChecked}}"></paper-toggle-button>
    </div>
    <div>
      <sapo-selector id="subnivelSelector" label="Subnivel" data="[[_computeSelectorData(data.subniveis, nivel, 'nivel_id')]]" selected="{{subnivel}}"></sapo-selector>
      <paper-toggle-button disabled="[[!subnivelChecked]]" checked="{{subnivelChecked}}"></paper-toggle-button>
    </div>

  </template>

  <script>
    class SapoMenuIndicadores extends Polymer.Element {

      static get is() { return 'sapo-menu-indicadores'; }

      static get properties() {
        return {
          data: Object,

          pilar: {
            type: Number,
            notify: true,
            observer: '_pilarChanged'
          },
          tipo: {
            type: Number,
            notify: true,
            observer: '_tipoChanged'
          },
          nivel: {
            type: Number,
            notify: true,
            observer: '_nivelChanged'
          },
          subnivel: {
            type: Number,
            notify: true,
            observer: '_subnivelChanged'
          },

          pilarChecked: {
            type: Boolean,
            observer: '_pilarCheckedChanged'
          },
          tipoChecked: {
            type: Boolean,
            observer: '_tipoCheckedChanged'
          },
          nivelChecked: {
            type: Boolean,
            observer: '_nivelCheckedChanged'
          },
          subnivelChecked: {
            type: Boolean,
            observer: '_subnivelCheckedChanged'
          },
        }
      }

      _pilarChanged(newValue) {
        this._indicadorChanged('pilar', newValue);
      }
      _tipoChanged(newValue) {
        this._indicadorChanged('tipo', newValue);
      }
      _nivelChanged(newValue) {
        this._indicadorChanged('nivel', newValue);
      }
      _subnivelChanged(newValue) {
        this._indicadorChanged('subnivel', newValue);
      }

      _pilarCheckedChanged(isChecked) {
        this._checkedChanged('pilar', isChecked);
      }
      _tipoCheckedChanged(isChecked) {
        this._checkedChanged('tipo', isChecked);
      }
      _nivelCheckedChanged(isChecked) {
        this._checkedChanged('nivel', isChecked);
      }
      _subnivelCheckedChanged(isChecked) {
        this._checkedChanged('subnivel', isChecked);
      }

      _computeSelectorData(array, fk, fkField) {
        
        var selectorData = array;

        if (fkField)
          selectorData = array.filter(item => { return item[fkField] === fk; });

        return selectorData.map(item => { return {identity: item.id, text: item.nome, warning: item.warning}; });
      }


      //
      //UTILS

      _indicadorChanged(indicador, newValue) {
        this[indicador + 'Checked'] = (newValue !== 0);
      }

      _checkedChanged(indicador, isChecked) {
        if (!isChecked) this[indicador] = 0;
      }

      softUpdate(indicadores) {

        var pilares = this._computeSelectorData(indicadores.pilares);
        var tipos = this._computeSelectorData(indicadores.tipos, this.pilar, 'pilar_id');
        var niveis = this._computeSelectorData(indicadores.niveis, this.tipo, 'tipo_id');
        var subniveis = this._computeSelectorData(indicadores.subniveis, this.nivel, 'nivel_id');

        this.$.pilarSelector.softUpdate(pilares);
        this.$.tipoSelector.softUpdate(tipos);
        this.$.nivelSelector.softUpdate(niveis);
        this.$.subnivelSelector.softUpdate(subniveis);
      }

    }

    window.customElements.define(SapoMenuIndicadores.is, SapoMenuIndicadores);
  </script>
</dom-module>
