<link rel="import" href="/bower_components/polymer/polymer-element.html">
<link rel="import" href="/bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="/bower_components/iron-icons/iron-icons.html">
<link rel="import" href="/bower_components/paper-button/paper-button.html">
<link rel="import" href="/bower_components/paper-card/paper-card.html">
<link rel="import" href="/bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="./sapo-avaliacoes-styles.html">

<dom-module id="sapo-list-avaliacoes">

  <template>

    <style include="sapo-avaliacoes-styles">
    </style>

    <iron-ajax auto="[[active]]" url="[[appconfig.url.api]]/avaliacoes/indicador" loading="{{loading}}" last-response="{{avaliacoes}}"></iron-ajax>

    <paper-card class="card-block">

      <paper-spinner active="[[loading]]" class$="[[_computeSpinnerCss(loading)]]" ></paper-spinner>

      <table class$="[[_computeTableCss(loading)]]">
        <thead>
          <th style="min-width:200px" >Indicador</th>
          <th style="width:100%">Nome</th>
          <th style="width:100px">Início</th>
          <th style="width:1%;white-space:nowrap;"></th>
        </thead>
        <tbody>
          <template is="dom-repeat" items="[[avaliacoes]]">
            <tr>
              <td>[[item.indicador.nome]]</td>
              <td>[[item.nome]]</td>
              <td>[[_computeDate(item.inicio)]]</td>
              <td class="buttons-area">
                <paper-button raised class="white" on-click="_evaluateClicked" ><iron-icon icon="open-in-new"></iron-icon>Avaliar</paper-button>
                <paper-button disabled raised class="orange" ><iron-icon icon="create"></iron-icon>Editar</paper-button>
                <paper-button disabled raised class="red" ><iron-icon icon="delete"></iron-icon>Remover</paper-button>
              </td>
            </tr>
          </template>
        </tbody>
      </table>

    </paper-card>

  </template>

  <script>
    class SapoListAvaliacoes extends Polymer.Element {

      static get is() { return 'sapo-list-avaliacoes'; }

      static get properties() {
        return {
          active: {
            type: Boolean,
            value: false,
            observer: '_activeChanged'
          },
          loading: Boolean,
          avaliacoes: Array
        }
      }


      //
      //OBSERVERS & COMPUTEDS

      _computeDate(date) {
        var dateObject = new Date(date);

        var day = dateObject.getDate();
        day = (day > 9) ? day : '0' + day;
        var month = dateObject.getMonth() + 1;
        month = (month > 9) ? month : '0' + month;
        var year = dateObject.getFullYear();

        return day + '/' + month + '/' + year;
      }

      _computeSpinnerCss(isLoading) {
        return (isLoading) ? '' : 'hidden';
      }

      _computeTableCss(isLoading) {
        return (isLoading) ? 'hidden' : '';
      }

      _activeChanged(isActive) {
        if (!isActive)
          this.avaliacoes = [];
      }


      //
      //EVENTS

      _evaluateClicked(e) {
        this.dispatchEvent(new CustomEvent('evaluate', {detail: e.model.item.id}));
      }

    }

    window.customElements.define(SapoListAvaliacoes.is, SapoListAvaliacoes);
  </script>
</dom-module>
