<link rel="import" href="/bower_components/polymer/polymer-element.html">
<link rel="import" href="/bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="/bower_components/iron-icons/iron-icons.html">
<link rel="import" href="/bower_components/paper-button/paper-button.html">
<link rel="import" href="/bower_components/paper-card/paper-card.html">
<link rel="import" href="/bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="./sapo-avaliacoes-styles.html">

<dom-module id="sapo-list-objetos-avaliacao">

  <template>

    <style include="sapo-avaliacoes-styles">
    </style>

    <iron-ajax auto="[[active]]" url="[[appconfig.url.api]]/objetosavaliacao/avaliacao/[[avaliacao]]/full" loading="{{loading}}" last-response="{{objetosAvaliacao}}"></iron-ajax>

    <paper-card class="card-block">

      <paper-spinner active="[[loading]]" class$="[[_computeSpinnerCss(loading)]]" ></paper-spinner>

      <table class$="[[_computeTableCss(loading)]]">
        <thead>
          <th style="min-width:100px">Entidade</th>
          <th style="min-width:100px">Nota*</th>
          <th style="min-width:150px">Pontuação Parcial**</th>
          <th style="width:100px">Concluído</th>
          <th style="width:100%">Observações</th>
          <th style="width:1%;white-space:nowrap;"></th>
        </thead>
        <tbody>
          <template is="dom-repeat" items="[[objetosAvaliacao]]">
            <tr>
              <td style="white-space:pre">[[item.entidade.nome]]</td>
              <td style="white-space:pre">[[_computeAbsoluteScore(item.notas)]]</td>
              <td style="white-space:pre">[[_computeRelativeScore(item.notas)]]</td>
              <td>[[_computeConclusion(item.notas)]]</td>
              <td>[[item.observacoes]]</td>
              <td class="buttons-area">
                <paper-button raised class="white" on-click="_evaluateClicked" ><iron-icon icon="open-in-new"></iron-icon>Avaliar</paper-button>
                <paper-button disabled raised class="orange" ><iron-icon icon="create"></iron-icon>Editar</paper-button>
                <paper-button disabled raised class="red" ><iron-icon icon="delete"></iron-icon>Remover</paper-button>
              </td>
            </tr>
          </template>
        </tbody>
      </table>

    </paper-card>
    <p class$="[[_computeTableCss(loading)]] note" >* Considera todos os itens existentes.</p>
    <p class$="[[_computeTableCss(loading)]] note" >** Considera apenas os itens avaliados até o momento.</p>

  </template>

  <script>
    class SapoListObjetosAvaliacao extends Polymer.Element {

      static get is() { return 'sapo-list-objetos-avaliacao'; }

      static get properties() {
        return {
          active: {
            type: Boolean,
            value: false,
            observer: '_activeChanged'
          },
          loading: Boolean,

          avaliacao: Number,
          objetosAvaliacao: Object
        }
      }


      //
      //OBSERVERS & COMPUTEDS

      _computeConclusion(notas) {
        var evaluated = notas.filter(nota => { return nota.pontuacao_id !== null });
        var percentage = evaluated.length / notas.length;
        percentage = parseInt(percentage * 100);

        return percentage + '%';
      }

      _computeAbsoluteScore(notas) {
        var maxScoreArray = notas.map(nota => { return nota.item.notaMaxima; });
        var maxScore = maxScoreArray.reduce((a, b) => a + b);

        var evaluated = notas.filter(nota => { return nota.pontuacao_id !== null });
        var absoluteScoreArray = evaluated.map(nota => { return nota.pontuacao.nota * nota.item.notaMaxima; });
        var absoluteScore = (absoluteScoreArray.length > 0) ? absoluteScoreArray.reduce((a, b) => a + b) : 0;

        var score = this._makePrintableScore(absoluteScore, maxScore, 2);

        return absoluteScore + ' de ' + maxScore + '\n(' + score + '%)';
      }

      _computeRelativeScore(notas) {
        var evaluated = notas.filter(nota => { return nota.pontuacao_id !== null });

        var maxScoreArray = evaluated.map(nota => { return nota.item.notaMaxima; });
        var maxScore = (evaluated.length > 0) ? maxScoreArray.reduce((a, b) => a + b) : 0;

        var relativeScoreArray = evaluated.map(nota => { return nota.pontuacao.nota * nota.item.notaMaxima; });
        var relativeScore = (relativeScoreArray.length > 0) ? relativeScoreArray.reduce((a, b) => a + b) : 0;

        var score = this._makePrintableScore(relativeScore, maxScore, 2);

        return relativeScore + ' de ' + maxScore + '\n(' + score + '%)';
      }

      _computeSpinnerCss(isLoading) {
        return (isLoading) ? '' : 'hidden';
      }

      _computeTableCss(isLoading) {
        return (isLoading) ? 'hidden' : '';
      }

      _activeChanged(isActive) {
        if (!isActive)
          this.objetosAvaliacao = [];
      }


      //
      //EVENTS

      _evaluateClicked(e) {
        this.dispatchEvent(new CustomEvent('evaluate', {detail: e.model.item.id}));
      }


      //
      //UTILS

      _makePrintableScore(score, maxScore, precision) {

        var persentage = (score / maxScore) * 100;

        var intLength = parseInt(Math.log10(persentage)) + 1;
        var printScore = (isNaN(intLength)) ? '0' : persentage.toPrecision(intLength + precision);
        return printScore;
      }

    }

    window.customElements.define(SapoListObjetosAvaliacao.is, SapoListObjetosAvaliacao);
  </script>
</dom-module>
