<link rel="import" href="/bower_components/polymer/polymer-element.html">
<link rel="import" href="/bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="./sapo-menu-indicadores.html">
<link rel="import" href="./sapo-list-notas.html">

<dom-module id="sapo-evaluate-objeto-avaliacao">

  <template>

    <style>

      :host {
        display: flex;
      }

      paper-card {
        padding: 10px;
        margin: 5px 100px;
      }

      #menu-indicadores {
        margin-right: 20px;
        height: 100%;
      }

      #list-notas {
        margin-left: 20px;
      }

    </style>

    <iron-ajax auto="[[active]]" url="http://N350i-22878:8080/notas/objetoavaliacao/[[objetoAvaliacao]]/full" last-response="{{notas}}"></iron-ajax>
    <iron-ajax id="putAjax" url="http://N350i-22878:8080/notas/pontuacao" method="PUT" content-type="application/json" handle-as="json" on-response="_putResponse"></iron-ajax>

    <paper-card id="menu-indicadores">
      <sapo-menu-indicadores data="[[indicadores]]" pilar="{{pilar}}" tipo="{{tipo}}" nivel="{{nivel}}" subnivel="{{subnivel}}"></sapo-menu-indicadores>
    </paper-card>

    <paper-card id="list-notas">
      <sapo-list-notas on-nota-changed="_updateNota" data="[[notas]]" ids-to-show="[[_computeNotasToShow(notas, pilar, tipo, nivel, subnivel)]]" ></sapo-list-notas>
    </paper-card>

  </template>

  <script>
    class SapoEvaluateObjetoAvaliacao extends Polymer.Element {

      static get is() { return 'sapo-evaluate-objeto-avaliacao'; }

      static get properties() {
        return {
          active: {
            type: Boolean,
            value: false
          },

          objetoAvaliacao: Number,
          notas: {
            type: Array,
            observer: '_notasChanged'
          },

          indicadores: {
            type: Object,
            value: () => { return {pilares: [], tipos: [], niveis: [], subniveis: []}; }
          },
          pilar: Number,
          tipo: Number,
          nivel: Number,
          subnivel: Number
        }
      }

      ready() {
        super.ready();
      }

      _notasChanged(notas) {

        var addIfUnique = (array, item) => {
          if (!array.some(i => { return i.id === item.id}))
            array.push(item);
        };

        var indicadores = {pilares: [], tipos: [], niveis: [], subniveis: []};
        notas.forEach(nota => {
          addIfUnique(indicadores.pilares, nota.item.subnivel.nivel.tipo.pilar);
          addIfUnique(indicadores.tipos, nota.item.subnivel.nivel.tipo);
          addIfUnique(indicadores.niveis, nota.item.subnivel.nivel);
          addIfUnique(indicadores.subniveis, nota.item.subnivel);
        });

        this.indicadores = indicadores;
      }

      _computeNotasToShow(notas, pilar, tipo, nivel, subnivel) {

        if (!notas) return []; //no notas to show yet
        if (!pilar) return notas.map(nota => { return nota.id; }); //first filter is special

        var notasToShow =  notas.filter(nota => {
          let result = true;
          if (pilar) result = (nota.item.subnivel.nivel.tipo.pilar.id === pilar);
          if (tipo) result = (nota.item.subnivel.nivel.tipo.id === tipo);
          if (nivel) result = (nota.item.subnivel.nivel.id === nivel);
          if (subnivel) result = (nota.item.subnivel.id === subnivel);
          return result;
        });

        return notasToShow.map(nota => { return nota.id; });
      }

      _updateNota(e) {
        this.$.putAjax.body = e.detail;
        this.$.putAjax.generateRequest();
      }

      _putResponse(e) {
        console.log(e.detail.status);
      }

    }

    window.customElements.define(SapoEvaluateObjetoAvaliacao.is, SapoEvaluateObjetoAvaliacao);
  </script>
</dom-module>
